{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Арбитражная практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых услуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">Защита личных активов первых лиц, и субсидиарной ответственности</li>
                <li class="list-group-item m-2">Оспаривание сделок совершенных как со стороны собственников имущества, так и со стороны покупателя</li>
                <li class="list-group-item m-2">Сопровождение процедур банкротства и любых споров в деле о банкротстве</li>
                <li class="list-group-item m-2">Арбитражные  споры в области недвижимости, ценных бумаг</li>
                <li class="list-group-item m-2">Споры в области страхования</li>
                <li class="list-group-item m-2">Оспаривание сделок</li>
                <li class="list-group-item m-2">Взыскания денежных сумм</li>

            </ul>

        </div>
    </div>

{% endblock %}
