{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Уголовно-правовая защита бизнеса</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых услуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">Консультация</li>
                <li class="list-group-item m-2">Уголовно-правовой аудит бизнеса</li>
                <li class="list-group-item m-2">Защита деловой репутации</li>
                <li class="list-group-item m-2">Сопровождение сделок, переговоров между контрагентами</li>
                <li class="list-group-item m-2">Сопровождение юридических лиц в ходе налоговых проверок и иных проверок
                    со стороны контролирующих ведомств.
                </li>
                <li class="list-group-item m-2">Абонентское комплексное обслуживание коллегией адвокатов:</li>
                <ul>
                    <li>Предупреждение и предотвращение уголовного преследования</li>
                    <li>Сопровождение в следственных действиях в компании</li>

                </ul>
            </ul>
            <div class="row">
                <p class=" h3 p-4 ">как определить есть ли у вас уголовно -правовые риски в бизнесе:</p>
            </div>
            <div class="row  pt-4  justify-content-between">

                <div class="col justify-content-between">
                    {% if user != None %}
                        <a class="text-decoration-none"
                           href="{% static 'homeapp/docs/Чек- лист признаки бизнеса с повышенными уголовными рисками.docx' %}">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Чек- лист признаки бизнеса с повышенными
                                        уголовными рисками</p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                           data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Чек- лист признаки бизнеса с повышенными
                                        уголовными рисками</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                </div>

            </div>
            <div class="row">
                <p class=" h3 p-4 ">Вы можете скачать памятки:</p>
            </div>
            <div class="row  pt-4  justify-content-between">
                <div class="col justify-content-between">
                    {% if user != None %}
                        <a class="text-decoration-none"
                           href="{% static 'homeapp/docs/Памятка: обыск, осмотр.docx' %}">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка: обыск, осмотр</p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                           data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка: обыск, осмотр</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                </div>
            <div class="col justify-content-between">
                    {% if user != None %}
                        <a class="text-decoration-none"
                           href="{% static 'homeapp/docs/Памятка мин. рисков.docx' %}">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка мин. рисков</p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                           data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка мин. рисков</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                </div>
            </div>


        </div>
    </div>


    {#    <div class="container">#}
    {#    <div class="row justify-content-between">#}
    {#        <div class="col-3"><a href="#" class="btn btn-dark">памятка подозреваемого, обвиняемого, свидетеля</a></div>#}
    {#        <div class="col-3"><a href="#" class="btn btn-dark">памятка обыск</a></div>#}
    {#        <div class="col-3"><a href="#" class="btn btn-dark">Памятка при оперативно розыскных мероприятиях</a></div>#}
    {#    </div>#}
    {#    </div>#}


{% endblock %}
