{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>IT, IP практика</h1>
        <div class="row">
            <p class="fw-bold">Виды оказываемых услуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">право интеллектуальной собственности</li>
                <li class="list-group-item m-2">юридическое сопровождение международных сделок</li>
                <li class="list-group-item m-2">сопровождение IT-компаний</li>
                <li class="list-group-item m-2">консультации для участников Сколково и аккредитованных IT компаний</li>
                <li class="list-group-item m-2">аудит интеллектуальной собственности и формирование IP портфеля
                    компании
                </li>
                <li class="list-group-item m-2">разработка и правовая экспертиза договоров, сопровождение сделок</li>
                <li class="list-group-item m-2">регистрация объектов интеллектуальной собственности (программы ЭВМ, базы
                    данных, товарные знаки, изобретения, полезные модели, промышленные образцы)
                </li>
                <li class="list-group-item m-2">правовая обвязка бизнеса и проектов</li>
                <li class="list-group-item m-2">риск менеджмент</li>
            </ul>
        </div>
    </div>


{% endblock %}
