{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Корпоративная практика</h1>
        <div class="row">
            <p class="fw-bold">Виды оказываемых услуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">представление интересов юридических лиц в суде по корпоративным делам
                </li>
                <li class="list-group-item m-2">сохранение прав в сфере корпоративных отношений</li>
                <li class="list-group-item m-2">реорганизация юридических лиц различных форм собственности (слияние,
                    разделение, присоединение)
                </li>
                <li class="list-group-item m-2">разработка и анализ учредительных документов юридических лиц (уставы,
                    положения, регламенты)
                </li>
            </ul>
        </div>
    </div>


{% endblock %}
