{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Медицинская практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых слуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">Юридическое сопровождение медицинского бизнеса</li>
                <li class="list-group-item m-2">Юридическое сопровождение биотехнологий, генно-инженерной деятельности в сельском хозяйстве</li>
                <li class="list-group-item m-2">Детальное проектирование концептуально крепких сделок</li>
                <li class="list-group-item m-2">Превентивное снижение рисков личной ответственности собственников бизнеса</li>
                <li class="list-group-item m-2">Повышение продаж за счёт внедрения инновационных онлайн-контрактов, регламентов и дорожных карт для сотрудников</li>
                <li class="list-group-item m-2">Разработка понятных документов, эффективно регулирующих действия сторон</li>
            </ul>

        </div>
    </div>

{% endblock %}
