{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Налоговая практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых слуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">разрешение налоговых споров и обжалование решений</li>
                <li class="list-group-item m-2">сопровождение юридических лиц в ходе налоговых проверок</li>
            </ul>

        </div>
    </div>

{% endblock %}
