{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Санкционная практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых слуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">создание юридических лиц в дружественных странах Индия, Казахстан, Узбекистан, ОАЭ</li>
                <li class="list-group-item m-2">открытие счетов компаний дружественных странах: Индия, Казахстан, Узбекистан, ОАЭ</li>
            </ul>

        </div>
    </div>

{% endblock %}
