{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Семейная практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых слуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">заключение брачных договоров на выгодных для доверителей условиях</li>
                <li class="list-group-item m-2">бесконфликтное прекращение брака</li>
                <li class="list-group-item m-2">стратегический подход при разделе общего имущества супругов</li>
                <li class="list-group-item m-2">бережное решение вопросов, связанных с детьми и детско-родительскими отношениями</li>
                <li class="list-group-item m-2">лишение родительских прав</li>
                <li class="list-group-item m-2">взыскание и расчет  алиментов</li>
                <li class="list-group-item m-2">оспаривание отцовства и иные споры в сфере семейного права</li>
            </ul>

        </div>
    </div>

{% endblock %}
