{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Защита при уголовном преследовании</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых услуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">Консультация</li>
                <li class="list-group-item m-2">Абонентское комплексное обслуживание адвокатом</li>
                <ul>
                    <li>подозреваемый</li>
                    <li>обвиняемый</li>
                    <li>подсудимый</li>
                    <li>совершили преступление, но пока не задержаны</li>
                </ul>
                <li class="list-group-item m-2">Против вас совершили преступление : комплексный подход для инициирования
                    расследования
                </li>
                <li class="list-group-item m-2">Защита по экономическим преступлениям: мошенничество, присвоение или растрата, злоупотребление полномочиями</li>
                <li class="list-group-item m-2">Должностные и коррупционные преступления: взяточничество, коммерческий подкуп, присвоение или растрата, превышение или злоупотребление полномочиями, халатность, служебный подлог, нецелевое расходование средств государственной </li>
                <li class="list-group-item m-2">Налоговые преступления</li>
                <li class="list-group-item m-2">Преднамеренное банкротство</li>
                <li class="list-group-item m-2">В сфере незаконного оборота наркотических средств</li>
                <li class="list-group-item m-2">Причинение вреда различной степени тяжести</li>
                <li class="list-group-item m-2">Преступления рассматриваемые судом присяжных</li>
                <li class="list-group-item m-2">Сопровождение в следственных действиях</li>
                <ul>
                    <li>обыск</li>
                    <li>опрос</li>
                    <li>допрос</li>
                    <li>очная ставка</li>
                    <li>выемка</li>
                </ul>
            </ul>
            <div class="row">
                <p class=" h3 p-4 ">Вы можете скачать памятки:</p>
            </div>
            <div class="row  pt-4  justify-content-between">


                <div class="col  mt-3">
                    {% if user != None %}
                    <a class="text-decoration-none" href="{% static 'homeapp/docs/Памятка подозреваемому по уголовному делу.docx' %}">
                        <div class="">
                            <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                               style="color: #36355f;"></i></p>
                            <div class="card-body">
                                <p class="card-text text-center h4 p-3">Памятка подозреваемому по уголовному делу</p>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                                    data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка подозреваемому по уголовному делу</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                </div>
                <div class="col  mt-4">
                    {% if user != None %}
                    <a class="text-decoration-none" href="{% static 'homeapp/docs/Памятка обвиняемому по уголовному делу.docx' %}">
                        <div class="">
                            <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                               style="color: #36355f;"></i></p>
                            <div class="card-body">
                                <p class="card-text text-center h4 p-3">Памятка обвиняемому по уголовному делу</p>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                                    data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка обвиняемому по уголовному делу</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="col  mt-4">
                    {% if user != None %}
                    <a class="text-decoration-none" href="{% static 'homeapp/docs/Памятка свидетелю по уголовному делу.docx' %}">
                        <div class="">
                            <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                               style="color: #36355f;"></i></p>
                            <div class="card-body">
                                <p class="card-text text-center h4 p-3">Памятка свидетелю по уголовному делу</p>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                                    data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка свидетелю по уголовному делу</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            <div class="col mt-4">
                    {% if user != None %}
                    <a class="text-decoration-none" href="{% static 'homeapp/docs/Памятка обыск.docx' %}">
                        <div class="">
                            <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                               style="color: #36355f;"></i></p>
                            <div class="card-body">
                                <p class="card-text text-center h4 p-3">Памятка обыск</p>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <a class="text-decoration-none" href="№" data-bs-toggle="modal"
                                    data-bs-target="#downloadModal">
                            <div class="">
                                <p class="text-center  icon-bg"><i class="fa-solid fa-file-pdf fa-fade fa-2xl"
                                                                   style="color: #36355f;"></i></p>
                                <div class="card-body">
                                    <p class="card-text text-center h4 p-3">Памятка обыск</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
