{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <h1>Земельная практика</h1>


        <div class="row">
            <p class="fw-bold">Виды оказываемых слуг:</p>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">правовое консультирование: по вопросам, связанным с правовыми нормами, относящимися к использованию, продаже, аренде и приобретению земельных участков</li>
                <li class="list-group-item m-2">представление интересов клиентов в спорах, связанных с незаконным изъятием земельных участков, предъявлением претензий со стороны третьих лиц или другими конфликтами, связанными с земельной собственностью</li>
                <li class="list-group-item m-2">сопровождение сделок с землей при покупке, продаже или аренде земельных участков, включая составление юридической документации, проверку правового статуса земли и заключение сделок</li>
            </ul>

        </div>
    </div>

{% endblock %}
