    {% comment %} <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'homeapp:business' %}">Уголовно-правовая защита бизнеса</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:antikorruptsionnoe' %}">Антикоррупционный комплайнс</a></li>                                
        <li><a class="dropdown-item" href="{% url 'homeapp:arbitrazhnaya' %}">Арбитражная практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:korporativnaya' %}">Корпоративная практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:nalogovaya' %}">Налоговая практика</a></li>                                
        <li><a class="dropdown-item" href="{% url 'homeapp:it-ip-praktika' %}">IT/IP практика</a></li>                                
        <li><a class="dropdown-item" href="{% url 'homeapp:sanktsionnaya' %}">Санкционная практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:mediatsiya' %}">Медиация</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:zemelnaya' %}">Земельная практика</a></li>
    </ul> {% endcomment %}