{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1>Защита адвоката по уголовным делам</h1>

        <div class="row">
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item m-2">Участие адвоката в уголовных делах обеспечивает справедливость в расследовании дел
                     правоохранительными органами и рассмотрении дел судами, а также защиту прав и интересов обвиняемых 
                     от незаконного уголовного преследования либо наказания. Важно позаботиться о наличии адвоката уже 
                     в первые дни следствия, чтобы избежать серьезных юридических рисков!</li>
                <li class="list-group-item m-2">МКА "Партнер Групп" предоставляет профессиональную защиту адвокатами по уголовным
                     делам на стадиях доследственной проверки, предварительного следствия и суда</li>
                    <ul>
                        <li>Адвокат по делам о мошенничестве (Адвокат по статье 159 УК РФ)</li>
                        <li>Адвокат по делу о присвоении и растрате (Адвокат по статье 160 УК РФ)</li>
                        <li>Адвокат по делам о наркотиках (Адвокат по статьям 228 УК РФ , 228.1 УК РФ , 229 УК РФ о контрабанде наркотиков)</li>
                        <li>Адвокат по делам о взятке  (Адвокат по статьям 290, 291 УК РФ)</li>
                        <li>Адвокат по делам о коммерческом подкупе (Адвокат по статьям 204, 204.1 УК РФ)</li>
                        <li>Адвокат по делам об убийстве по статье 105 УК РФ (в том числе участие в суде присяжных)</li>
                        <li>Адвокат по делу о тяжком вреде здоровью (Адвокат по статье 111 УК РФ)</li>
                        <li>Адвокат по делам об оказании услуг и продаже товаров, не отвечающих требованиям безопасности (Адвокат по статье 238 УК РФ)</li>
                        <li>Адвокат по делам о вымогательстве (Адвокат по статье 163 УК РФ)</li>
                        <li>Адвокат по делам о незаконной банковской деятельности (Адвокат по статье 172 УК РФ)</li>
                        <li>Адвокат делам об уклонении от уплаты налогов (Адвокат по статьям 198, 199 УК РФ)</li>
                        <li>Адвокат по делам о хулиганстве (Адвокат по статье 213 УК РФ)</li>
                        <li>Адвокат по делам об экстремизме (Адвокат по статьям 282, 282.1, 282.2 УК РФ)</li>
                        <li>Адвокат для по военным делам (Военный адвокат для призывников и военнослужащих по статьям 337, 338, 339 УК РФ)</li>
                    </ul>
                <li class="list-group-item m-2">Стоимость <b>СРОЧНОГО</b> выезда адвоката к месту следственных действий от 30 000 рублей. 
                    Иные расценки определяются после предварительной беседы.</li>
                <li class="list-group-item m-2">Кроме того, наша коллегия адвокатов активно занимается защитой прав потерпевших, 
                    стремясь обеспечить справедливое наказание для злоумышленников и полноту компенсации ущерба для потерпевшего, 
                    причиненного преступлением.</li>
                <li class="list-group-item m-2">Наша юридическая компания МКА "Партнер Групп" обладает опытом и знаниями 
                    для качественной работы по уголовным делам, гарантируя профессиональное сопровождение и защиту прав 
                    клиентов в сложных юридических ситуациях.</li>
                
            </ul> 

        </div>
        
    </div>

{% endblock content %}
