{% extends 'homeapp/base.html' %}
{% load static %}    
    
{% block content %}
    
        <div class="container">  
            <p class="text-center fw-bold m-3">Услуги, оказываемые физическим лицам:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zashchita' %}">Адвокаты по уголовным делам</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:nalogovaya' %}">Адвокаты по гражданским делам</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:it-ip-praktika' %}">Адвокаты по делам o наследстве 
                    (Наследственный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:meditsinskoe' %}">Адвокаты по миграционным делам 
                    (Миграционный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:semeynaya' %}">Адвокаты по ДТП (Автоюрист)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:sanktsionnaya' %}">Адвокаты по лишению водительских прав</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:mediatsiya' %}">Адвокаты по семейным делам 
                    (Семейный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Адвокат по взысканию долгов</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Адвокат по возмещению вреда здоровью 
                    (Медицинский адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Адвокат по работе c приставами 
                    (Юрист в исполнительном производстве)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Апелляционное и кассационное обжалование судебных решений 
                    (Адвокат по обжалованию решений, приговоров либо постановлений)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Обжалование административных наказаний</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:zemelnaya' %}">Юридические консультации онлайн</a></li>
            </ul>    
    
        </div>    
    
{% endblock %}