    {% comment %} <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'homeapp:zashchita' %}">Защита от уголовного преследования</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:nalogovaya' %}">Налоговая практика</a></li>                                
        <li><a class="dropdown-item" href="{% url 'homeapp:it-ip-praktika' %}">IT/IP практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:meditsinskoe' %}">Медицинская практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:semeynaya' %}">Семейная практика</a></li>                                
        <li><a class="dropdown-item" href="{% url 'homeapp:sanktsionnaya' %}">Санкционная практика</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:mediatsiya' %}">Медиация</a></li>
        <li><a class="dropdown-item" href="{% url 'homeapp:zemelnaya' %}">Земельная практика</a></li>
    </ul> {% endcomment %}