{% extends 'homeapp/base.html' %}
{% load static %}    
    
{% block content %}
    
        <div class="container">  
            <h1 class="text-center h1">Услуги, оказываемые физическим лицам:</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item m-2"><a href="{% url 'homeapp:criminal_defense' %}" 
                    style="text-decoration: none; color: #000000;">Адвокаты по уголовным делам</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:civil_defense' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по гражданским делам</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:inheritance' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по делам o наследстве 
                    (Наследственный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:migration' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по миграционным делам 
                    (Миграционный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:traffic_accident' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по ДТП (Автоюрист)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:license_revocation' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по лишению водительских прав</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:family_matters' %}"
                    style="text-decoration: none; color: #000000;">Адвокаты по семейным делам 
                    (Семейный адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:individual_bankruptcy' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по банкротству</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:consumer_protection' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по защите прав потребителей</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:land_disputes' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по земельным спорам</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:debt_recovery' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по взысканию долгов</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:medical' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по возмещению вреда здоровью 
                    (Медицинский адвокат)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:enforcement_lawyer' %}"
                    style="text-decoration: none; color: #000000;">Адвокат по работе c приставами 
                    (Юрист в исполнительном производстве)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:appeals' %}"
                    style="text-decoration: none; color: #000000;">Апелляционное и кассационное обжалование судебных решений 
                    (Адвокат по обжалованию решений, приговоров либо постановлений)</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:administrative_penalties' %}"
                    style="text-decoration: none; color: #000000;">Обжалование административных наказаний</a></li>
                <li class="list-group-item m-2"><a href="{% url 'homeapp:online_consultation' %}"
                    style="text-decoration: none; color: #000000;">Юридические консультации онлайн</a></li>
            </ul>

            <div class="container bg-light py-2 px-3 mt-2 mb-2 border rounded">
                <h2 class="text-center">Оставить заявку:</h2>
                {% include 'homeapp/forms/application_form.html' %}
            </div>   
    
        </div>    
    
{% endblock %}