{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <h1>Услуги адвоката по банкротству физических лиц</h1>

        <p>Адвокат по банкротству физических лиц специализируется на предоставлении правовой помощи людям, 
            находящимся в финансовых затруднениях и столкнувшимся с проблемами банкротства. Вот как адвокат 
            по банкротству физических лиц может помочь вам:
        </p>

        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item m-2"><b>Консультации и оценка ситуации.</b> Адвокат проведет подробную консультацию, 
                изучит вашу финансовую ситуацию и поможет определить, является ли банкротство подходящим решением для вас.
            </li>
            <li class="list-group-item m-2"><b>Подготовка документов.</b> Адвокат поможет вам собрать и подготовить 
                все необходимые документы для подачи заявления о банкротстве.
            </li>
            <li class="list-group-item m-2"><b>Представление интересов в суде.</b> Адвокат будет представлять ваши интересы 
                в суде и взаимодействовать с кредиторами, судом и другими сторонами в процессе банкротства.
            </li>
            <li class="list-group-item m-2"><b>Разработка стратегии банкротства.</b> Адвокат поможет разработать 
                стратегию банкротства, чтобы максимально защитить ваши интересы и минимизировать негативные последствия.
            </li>
            <li class="list-group-item m-2"><b>Помощь в переговорах с кредиторами.</b> Адвокат может помочь вам договориться 
                с кредиторами о реструктуризации долга или других вопросах, связанных с процессом банкротства.
            </li>
            <li class="list-group-item m-2"><b>Обучение и консультации.</b> Адвокат по банкротству может обучить 
                вас вашим правам и обязанностям в рамках процесса банкротства и предоставить консультации по всем вопросам, 
                связанным с этой темой.
            </li>
        </ul>

        <p>Банкротство физических лиц — это сложный и ответственный процесс, и помощь опытного адвоката может 
            значительно облегчить его протекание и защитить ваши интересы. Обращение к адвокату по банкротству 
            поможет вам пройти через этот трудный период с минимальными потерями и негативными последствиями 
            для вашего финансового будущего.</p>

    </div>

{% endblock %}