{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <h1>Юридические консультации онлайн</h1>

        <p>Адвокаты предоставляют различные услуги онлайн, включая юридические консультации. 
            Вот некоторые из услуг, которые могут предоставлять адвокаты онлайн:
        </p>

        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item m-2"><b>Юридические консультации.</b> ААдвокаты могут проводить 
                консультации по телефону, видеозвонкам или через онлайн чаты для обсуждения ваших юридических вопросов.
            </li>
            <li class="list-group-item m-2"><b>Подготовка документов.</b> Вы можете запросить адвоката онлайн 
                для подготовки различных юридических документов, таких как договоры, жалобы, иски и другие документы.
            </li>
            <li class="list-group-item m-2"><b>Представительство в суде.</b> Адвокаты могут представлять ваши 
                интересы в судебных процессах и заседаниях онлайн, если это допускается местным законодательством.
            </li>
            <li class="list-group-item m-2"><b>Разрешение споров.</b> Онлайн адвокаты могут помочь вам 
                разрешить различные юридические споры, в том числе семейные, имущественные, трудовые и другие споры.
            </li>
            <li class="list-group-item m-2"><b>Консультации по налогам.</b> Если у вас возникли вопросы 
                по налогообложению, адвокаты могут предоставить консультации и помощь в этой области.
            </li>
            <li class="list-group-item m-2"><b>Конфиденциальность и безопасность.</b> Онлайн адвокаты обеспечивают 
                конфиденциальность и безопасность ваших данных при общении и предоставлении юридических услуг через интернет.
            </li>
        </ul>

        <p>Если у вас есть юридические вопросы или вам нужна помощь адвоката, вы можете найти специалиста, предоставляющего 
            онлайн услуги, и обсудить с ним свою ситуацию для получения квалифицированной помощи и консультации.</p>

    </div>

{% endblock %}