{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Оправдательный приговор</h1>
        <p>В производстве с 2016- 2022 г.г. находилось уголовное дело в отношении двух
            подзащитных по признакам состава преступления предусмотренных ст.ст. ч.1 ст. 327 УК,
            ст.30 УКРФ, ч.3 ст. 158 УК РФ, ч. 4 ст. 159 УК РФ, ч.1 ст. 327 УК РФ, ч.3 ст. 327 УК.
            Согласно тексту обвинительного акта, представленным доказательствам обвинения,
            показаниям свидетелей обвинения, где решение о квалификации действий подсудимых по
            мнению защиты являлось ошибочным, в связи с отсутствием состава преступления.
            На протяжении 2017-2020 г.г. дважды проводилось судебное следствие, в следствии
            чего направлялось уголовное дело прокурору в порядке ст. 237 УПК РФ для устранения
            препятствий к рассмотрению, количество эпизодов уменьшалось в ввиду отказа от
            обвинения.
            К третьему рассмотрению в суде, два подзащитных с вмененной ч.1 ст. 327 УК на
            каждого.</p>
        <p class="text-center">В следствии защиты нашло свое подтверждение:</p>
        <ul>
            <li>отсутствие признаков официального документа</li>
            <li>отсутствие признаков подделки</li>
            <li>отсутствие признаков состава преступления</li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        Оправдательный приговор по предъявленному обвинению в отношении двух
        подзащитных на основании п. 2 ч. 1 ст. 24, п. 3 ч. 2 ст. 302 УПК РФ и признано за ними
        право на реабилитацию.
        <br>
        <p class="text-center">ВЫВОД:</p>
        Недоказанная виновность юридически равнозначна доказанной невиновности.

    </div>


{% endblock %}
