{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Особо тяжкое преступление по результатам
            оперативно-розыскного мероприятия. ч. 4 ст. 228.1 УК РФ</h1>
        <p>На момент заключения соглашения с родителями подсудимого,  подзащитный содержался
            под стражей более 2 лет.
            Приговором районного суда признан виновным, мера наказания 10,6 лет строго режима. </p>
        <p class="text-center">ИТОГ:</p>
        <ul>
            <li>отмена приговора в апелляционной инстанции.</li>
            <li>при новом рассмотрении истребованы ряд доказательств:
                биллинг понятых доказал отсутствие понятых на момент допросов в УМВД, как и
                отсутствие записи в журнале учета прохода на режимный объект, что в результате
                допроса с пристрастиями подтвердили и сами понятые. Поставлен вопрос
                установления лица сфальсифицировавшего доказательство.
                Итог: компромисс на переквалификацию на менее тяжкий состав с минимальной
                мерой наказания.
            </li>
        </ul>

    </div>


{% endblock %}
