{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Деловая репутация</h1>
        <p>По рекомендации за зашитой деловой репутации обратился руководитель
            некоммерческой организации.</p>
        <p>В интернет пространстве в местном региональном СМИ опубликовано порочащая
            публикация с обвинением в тяжком преступлении, которая вирусно распространялась по
            всем регионам России.</p>
        <p class="text-center">Действия:</p>
        <ul>
            <li>процессуально удостоверены доказательства клеветнической информации</li>
            <li>заявление в правоохранительные органы в порядке ст. 144-145 УПК РФ</li>
            <li>по адвокатскому запросу получено заключение специалиста об организации
                лингвистического исследования
            </li>
            <li>собраны доказательства, подтверждающие причинение доверителю морального
                вреда в результате распространения ответчиком сведений, не соответствующих
                действительности, порочащих честь, достоинство и деловую репутацию
                доверителя.
            </li>
        </ul>
        <p>В следствии поданного искового заявления о защите чести и достоинстве деловой
            репутации с компенсацией многомиллионного вреда, на стадии предварительного
            слушания по итогу коммуникаций адвоката достигнут компромисс.</p>


    </div>


{% endblock %}
