{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Злоупотребление должностными полномочиями, повлекшее
            тяжкие последствия
        </h1>
        <p>Должностному лицу, которое входило в состав Правительства субъекта РФ вменено ч. 3 ст. 285 УК РФ, 4
            эпизода.</p>

        <p class="text-center">Действия:</p>
        <ul>
            <li>Привлечение СМИ</li>
            <li>Сбор доказательств опровергающее каждое представленное доказательство обвинения</li>
            <li>Отстаивание каждого аргумента до итогового судебного акта, удовлетворяющего подзащитного</li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        <ul>
            <li>отмена приговора в кассационной инстанции, исключение ущерба;</li>
            <li> в апелляционной инстанции ссылаясь на доводы апелляционной жалобы постановлена мера наказания, которая
                соответствовала отсиженному сроку
            </li>
            <li>принудительное исполнение приговора</li>
        </ul>
        <br>
        <p class="text-center">ВЫВОД:</p>
        <p>В случае возможного привлечения вас к уголовному преследованию по должностному
            или коррупционному преступлению, подходите скрупулезно к выбору своего защитника,
            исключительно с специализацией по должностным и коррупционным преступлениям с
            большим опытом работы.</p>


    </div>


{% endblock %}
