{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Превышение должностных полномочий-компромисс</h1>
        <p>Подзащитному было вменено п. «г», ч. 3 ст. 286 УК РФ, поскольку обладая
            необходимыми полномочиями, в нарушение законодательства о госзакупках умышленно
            превысил их и заключил без проведения конкурсных процедур 13 контрактов.</p>
        <p>Муниципальные контракты с тремя предприятиями с одним и тем же директором в
            лице одного гражданина на 520 млн. рублей.</p>
        <p>Подзащитный согласно обвинительного заключения, нарушил интересы федерального
            и местного бюджетов, так как своими действиями исключил возможность уменьшения
            первоначальной цены контракта за счет конкурсных процедур. </p>
        <p class="text-center">Действия:</p>
        <ul>
            <li>Представлено в суд более 17 значительных процессуальных нарушений при сборе и
                закреплении доказательств оперативными сотрудниками
            </li>
            <li>сбор доказательств</li>
            <li>опровержение вмененной суммы согласно обвинительного заключения</li>
            <li>компромисс</li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        <p>Приговор о виновности с мерой наказания в виде штрафа на 300 000 рублей, с
            лишением права занимать должности, связанные с осуществлением функций
            представителя власти сроком на два года. </p>


    </div>


{% endblock %}
