{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Застройщик- ч. 4 ст. 159 УК РФ</h1>
        <p>Крупная компания застройщика подверглась рейдерскому захвату, в результате экс-
            учредитель подвергся уголовному преследованию по ч. 4 ст. 159 УК РФ о хищении 1,230
            млрд. руб., и ч. 4 ст. 159 УК РФ о хищении 174 млн. рублей. Международный розыск
            более 10 лет, постановлен заочный приговор с мерой наказания 8 лет лишения свободы в
            колонии общего режима. </p>
        <p>При аресте заочно осужденного, вышестоящая инстанция отменила обвинительный
            приговор и направила на новое рассмотрение с участием обвиняемого лица. </p>
        <p class="text-center">Правой аудит установил:</p>
        <ul>
            <li>отсутствие признаков состава преступления</li>
            <li>отсутствие приобщенных вещественных доказательств, ввиду давности лет и потопа в архиве</li>
            <li>отсутствие судебно- бухгалтерской и строительной экспертизы</li>
            <li>допрошенные потерпевшие себя таковыми не признали в суде</li>
            <li>признанный потерпевший юридическое лицо к моменту рассмотрения дела ликвидировано</li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        <p>Компромисс, мера наказания соответствовала отсиженному сроку на момент вынесения обвинительного приговора.</p>


    </div>


{% endblock %}
