{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Суд отклонил незаконные требования прокуратуры об
            отстранении арбитражного управляющего от исполнения обязанностей в деле о банкротстве
        </h1>
        <p>В Арбитражный суд Московской области от Прокуратуры Московской области
            поступило ходатайство об отстранении арбитражного управляющего от
            исполнения обязанностей внешнего управляющего.</p>
        <p>Согласно постановлению следователя по особо важным делам
            первого следственного отдела управления по расследованию преступлений против
            государственной власти и в сфере экономики Главного следственного управления
            Следственного комитета Российской Федерации возбуждено уголовное дело в отношении
            финансового управляющего по признакам преступления, по факту
            покушения на приобретение путем обмана, совершенного с использованием служебного
            положения в особо крупном размере недвижимого, сведения о котором он не отразил в финансовом отчете.</p>
        <p>Определением Арбитражного суда Московской области в удовлетворении заявления отказано.</p>
        <p class="text-center">Действие:</p>
        <p>Поскольку возбуждение в отношении финансового управляющего уголовного дела и принятии его к производству не
            является безусловным доказательством виновных действий управляющего, поскольку в соответствии со статьей 14
            АПК РФ, обвиняемый считается невиновным, пока его виновность в совершении преступления не будет доказана в
            предусмотренном УПК РФ в порядке и установлена вступившим в законную силу приговором суда.</p>
        <p class="text-center">ИТОГ:</p>
        <p>Суд посчитал, что отстранение внешнего управляющего должно использоваться в той мере, в какой оно позволяет
            восстановить нарушенные права или устранить угрозу их нарушения.
            Отстранение внешнего управляющего должно применяться тогда, когда он показал свою неспособность к
            надлежащему ведению внешнего управления, что проявляется в ненадлежащем исполнении им своих обязанностей.
            Финансовый управляющий привлечен к административной ответственности с наказанием в виде предупреждения, а не
            дисквалификации, учитывая отсутствие доказательств факта причинения убытков должнику и его кредиторам, либо
            наличия реальной возможности их причинения.
            Арбитражный апелляционный суд не нашел оснований для отмены определения суда первой инстанции.</p>


    </div>


{% endblock %}
