{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Особо тяжкое преступление ч.1 ст. 105 УК РФ -компромисс
        </h1>
        <p>В интересах своей дочери обратился отец, в отношении его дочери была избрана мера
            пресечения-заключение под стражу, мера наказания предусмотрена 10-15 лет. Вступив в
            защиту на стадии ознакомления с материалами дела (ст.217 УПК РФ). Обстоятельство
            дела были очевидны для всех сторон.
            Но зачастую когда все очевидно, предварительным расследованием допускается ряд
            существенных процессуальных нарушений, которые существенно влияют в итоге на меру
            наказания.
        <p class="text-center">Представленные доказательства защиты:</p>
        <ul>
            <li>Вписанные понятые согласно протокола осмотра места происшествия никогда не
                были на месте преступления и даже в городе места преступления.
            </li>
            <li>Отказ от признания вины, который был аргументирован оказанием
                психологического давления со стороны следователя.
            </li>
            <li>С потерпевшими -родителями убитого выстроена коммуникация, уровень -
                «прошения председательствующего судью не направлять в колонию для
                отбывания наказания».
            </li>
            <li>Подтверждение истязаний со стороны потерпевшего в отношении подсудимой.
                Государственное обвинение поддерживал прокурор города, судья бывший работник
                правоохранительных органов, но вынужденно предложили компромисс с
                переквалификацией и минимальной мерой наказания.
            </li>
        </ul>

        <p class="text-center">ИТОГ:</p>
        Переквалификация на менее тяжкую ч.4 ст.111 УК РФ, с отбыванием в колонии общего режима 3 года.
        <br>
        <p class="text-center">ВЫВОД:</p>Нет нерешаемых задач, есть просто плохие решения.</p>

    </div>


{% endblock %}
