{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Получение взятки</h1>
        <p>За защитой обратился родственник подсудимого по коррупционному, должностному
            преступлению группой лиц с фиксацией оперативными сотрудниками (три эпизода ч. 5 ст.
            291 УК РФ), Вступила в судебное следствие на стадии допроса троих подсудимых.
            Поскольку ранее тактика защиты трижды менялась, следовательно возвращаться к оной из
            трех ранее выбранных позиции повело бы к однозначно отрицательному результату. </p>
        <p class="text-center">Правой анализ уголовного дела установил:</p>
        <ul>
            <li>подзащитный не имел признаков должностного лица</li>
            <li>в обвинительном заключения надлежаще не расписан квалифицирующий состав</li>
            <li>значительные нарушения ОРМ</li>
        </ul>
        <p class="text-center">Действия:</p>
        <p>Представленные доказательства защиты опровергли доводы обвинения в полном объеме. В ходе судебного следствия
            нашло свое подтверждение отсутствие состава преступления, ввиду опровергающих обвинение -заключений
            экспертиз в совокупности с показаниями допрошенных в судебном заседании экспертов, свидетелей, подсудимых,
            других доказательств по делу, отсутствие хищения бюджетных денежных средств.</p>
        <p class="text-center">ИТОГ:</p>
        <p>Прения, компромисс, условный минимальный срок соответствующий сроку содержания под стражей.</p>
    </div>

{% endblock %}
