{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Вердикт присяжных заседателей не виновен в убийстве
        </h1>
        <p>Подзащитный обвинялся в совершении преступления, предусмотренного ч.1 ст. 105 УК РФ, то есть в умышленном
            причинении смерти своему сыну в ходе произошедшей между ними на почве сложившихся личных неприязненных
            отношений ссоры, руководствуясь внезапно возникшим умыслом, направленным на убийство.
        </p>
        <p class="text-center">ИТОГ:</p>
        <p>В результате защиты, вердиктом коллегии присяжных заседателей признали недоказанным виновность подсудимого, в
            совершении инкриминируемого ему органом предварительного расследования деяния.</p>


    </div>


{% endblock %}
