{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>ч. 4 ст. 159 УК РФ</h1>
        <p> За защитой обратился подсудимый обвиняемый по ч. 4 ст.159 УК РФ на стадии
            исследования письменных доказательств в районом суде.
            Правой аудит по делу показал: </p>
        <ul>
            <li>Сторона обвинения не устанавливала экспертным путем факт вмененной
                объективной стороны преступления.
            </li>
            <li>Фабула обвинения не соответствовала обстоятельствам установленными в
                судебном следствии.
            </li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        <ul>
            <p>
                компромисс, условная мера наказания.
                Вывод: Адвоката необходимо выбирать заблаговременно, чтоб не довольствоваться
                малым в следствии упущенных процессуальных стадиях.
            </p>


    </div>


{% endblock %}
