{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Хищение сотрудником на рабочем месте</h1>
        <p>По рекомендации на абонентское обслуживание обратился
            региональный руководитель
            крупной ювелирной сети, в следствии исковых требований от уволенного сотрудника по
            дискредитирующей статье, согласно ТК РФ по причине установленной кражи.
            Старший менеджер продаж войдя в сговор с менеджером в смене, вводил в заблуждение
            покупателей умалчивая об аукционной скидке, продав по полной стоимости ювелирное
            изделие разницу похищал, принимая оплату только наличными и выписывая товарный
            чек ссылаясь на не рабочее состояние кассовых аппаратов и терминала. </p>
        <p>Требование истца- признать запись в трудовой книжке незаконной, восстановить на
            работе, оплатить заработную оплату за весь период увольнения на момент подачи иска.</p>
        <p class="text-center">Действия:</p>
        <ul>
            <li>Заявление о преступлении, признание потерпевшим по уголовному делу по факту кражи</li>
            <li>Активная позиция при рассмотрении трудового спора в суде 1,2,3 инстанции</li>
        </ul>
        <p class="text-center">ИТОГ:</p>
        <p>Отказ в удовлетворении исковых требований, несмотря на иную сложившуюся судебную практику.</p>
        <p class="text-center">ВЫВОД:</p>
        <p>Кроме защиты своих прав, необходимо осуществлять «нападение». Только комплексный
            подход позволил получить успешный исход дела.</p>
    </div>

{% endblock %}
