{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Банкротство физических лиц</h1>
        <p>По рекомендации обратился должник на 1,7 млрд. за представлением интересов в
            Арбитражном суде г. Москвы, на стадии оспаривания финансовым управляющим и
            кредиторами договора купли -продажи недвижимости в Москве и США.
            Арбитражный суд г. Москвы постановил, отказать в заявленных требованиях о признании
            договора купли-продажи недвижимости недействительными в США, ввиду
            невозможности исполнения, договор купли-продажи недвижимости в Москве признал
            недействительным.</p>
        <p class="text-center">ИТОГ:</p>
        <p>Арбитражный суд московского округа удовлетворил апелляционную жалобу, отменив
            решение, постановил отказать финансовому управляющему и кредиторам в заявлении о
            признании договора купли-продажи недействительным. </p>


    </div>


{% endblock %}
