{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1"><p class="text-muted">КЕЙС</p>Потерпевшие ч. 4 ст. 159 УК РФ</h1>
        <p>Крупные предприниматели граждане Казахстана по рекомендации обратились за защитой
            по факту совершенного против них преступления юристом на территории России, по
            признакам состава преступления, предусмотренного ч.4 ст.159 УК РФ, сумма хищения
            12,9 млн.руб. </p>
        <p>Согласно выработанной стратегии, доверителями были  надлежаще зафиксированы
            доказательства вины, на основании которых постановлен обвинительный приговор по ч. 4
            ст.159 УК РФ, 3 года исправительной колонии общего режима, удовлетворив гражданский
            иск. </p>
        <p>По результатам успешной совместной работы, доверители поручили представлять
            интересы истца, при апелляционном и кассационном обжаловании по исковому
            заявлению об обязании Межрегионального территориального управления Росимущества
            продать арендуемый земельный участок без торгов и за пониженный процент от
            кадастровой стоимости, как и дальнейшее принудительное исполнение решения суда. </p>

        <p class="text-center">ИТОГ:</p>
        <p>Значительная финансовая выгода.</p>
        <p class="text-center">ВЫВОД:</p>
        <p>Необходимо тщательно и заблаговременно подходить к выбору «своего» адвоката. </p>
        <p>Адвокаты МКА «Партнер групп» осуществляя свою деятельность, полностью используют свои преимущества: </p>
        <ul>
            <li>опыт и квалификация команды </li>
            <li>комплексный подход</li>
            <li>конфиденциальность</li>
            <li>взаимозаменяемость</li>
            <li>коллегиальность</li>
            <li>индивидуальный подход к доверителям</li>
            <li>разумная цена</li>
        </ul>
        <br>

    </div>


{% endblock %}
