@import url(veriables.css);
@import url(fonts.css);

/** {*/
/*    outline: 1px red solid;*/
/*}*/

html {
    font-size: 18px;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: calc((100vw - 320px) / (768 - 320) * (18 - 16) + 16px);
    font-weight: 400;
    color: #000;
    background-color: rgba(235, 239, 234, 0.30);
    min-width: 320px;
}

.btn {
    background-color: #2b3455;
    color: white;
    font-size: calc((100vw - 320px) / (768 - 320) * (20 - 18) + 18px);
}

.btn:hover {
    background: white;
    color: #2b3455;
    border-color: #2b3455;
    font-size: calc((100vw - 320px) / (768 - 320) * (20 - 18) + 18px);
}


section {
    padding: 50px 0;
}


nav img {
    height: 130px;
    margin: 1px;
}

.nav-link:hover {
    color: #2b3455;
    text-decoration: underline;
}


.footer {
    padding-top: 20px;
}

.footer {
    background-color: #2b3455;
    padding-bottom: 3px;

}

footer img {
    max-height: 100px;

}

footer .nav-link {
    color: white;
    word-break: break-all;
    font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 14) + 14px);
}

.requisites a {
    font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
}

footer .nav-link:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    margin: 0;
    color: grey;
    font-size: 16px;
}

.last-chld-footer-icon {
    text-align: right;
}

.btn__footer {
    background: #bbc4fc;
    background: -moz-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f800df 91%, #fbdf93 100%);
    background: radial-gradient(ellipse at center, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1);
    color: #2b3455;
    margin: 30px 0;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (24 - 12) + 12px);*/
    font-style: normal;
    font-weight: 600;
}

.btn__carousel {
    background: #bbc4fc;
    background: -moz-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f800df 91%, #fbdf93 100%);
    background: radial-gradient(ellipse at center, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1);
    color: #2b3455;
    margin: 10px 0;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (24 - 12) + 12px);*/
    font-style: normal;
    font-weight: 600;
}


/* .btn__footer {
    background: #fceabb;
    background: -moz-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: radial-gradient(ellipse at center, #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1);
    color: #2b3455;
    margin: 30px 0;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (24 - 12) + 12px);*/
    font-style: normal;
    font-weight: 600;
} */


.footer__text {
    font-size: 18px;
}

.footer__nav-link {
    font-size: 30px;
}

.nav_footer {
    padding-bottom: 10px;
    font-size: 24px
}


.my_carousel {
    padding: 0;
}

.my_carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.my_carousel .carousel-item img {
    object-fit: cover;
}

#container-index {
    margin-top: 30px;
}

.index-top-talk:hover {
    background-color: rgba(202, 206, 201, 0.40);
}

.bg-logo {
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-ch-bg {
    /*max-width: 500px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

@keyframes bg-сhange {
    from {
        background-image: url('/static/homeapp/img/bg-logo.png');
    }

    25% {
        background-image: url('/static/homeapp/img/bg-bl-2.png');
    }

    50% {
        background-image: url('/static/homeapp/img/bg-bl-3.png');
    }

    75% {
        background-image: url('/static/homeapp/img/bg-bl-4.png');
    }

    to {
        background-image: url('/static/homeapp/img/bg-bl-1.png');
    }
}

#bg {
    /*position: relative;*/
    /*padding-top: 75%;*/
    /*background-size: cover;*/
    animation: bg-сhange 25s infinite;
}

.icon-bg {
    font-size: calc((100vw - 320px) / (1280 - 320) * (80 - 80) + 80px);
}

.container-ch-bg p:nth-child(2) {
    hyphens: auto;
    /*word-break: break-all;*/

    font-size: calc((100vw - 320px) / (1280 - 320) * (20 - 16) + 16px);
}

#mission {
    border: 2px solid gray;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@media (min-width: 992px) {
    .navbar-brand .smal {
        display: none;
    }
}


@media (max-width: 993px) {
    .navbar-brand .big {
        display: none;

    }
}

.video-play-button {
    max-width: 80%;
}

.video-play-button img {
    width: 100%;
}

.navbar .nav-link {
    white-space: nowrap;
}

.rl-pos {
    position: relative;
}

.rl-pos i {
    position: absolute;
    top: 50%;
    left: calc(50% - 40px);
    font-size: calc((100vw - 320px) / (1280 - 320) * (80 - 80) + 80px);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-0-auto {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.slick-prev,
.slick-next {
    top: -45px !important;
    width: var(--stick_size) !important;
}

.slick-prev {
    left: var(--stick_position) !important;
}

.slick-next {
    right: var(--stick_position) !important;
}

.slick-prev:before, .slick-next:before {
    color: #2b3455 !important;
    font-size: var(--stick_size) !important;
}

/*.work_e {*/
/*    border: solid;*/
/*    border-radius: 10px;*/
/*    border-bottom-color: #2b3455;*/
/*    color: #2b3455;*/
/*}*/

.work_e p:first-child {
    border-bottom: solid;
}

.icon-nav i {
    font-size: 48px !important;

}

.developer_link {
    font-size: calc((100vw - 320px) / (768 - 320) * (16 - 14) + 14px);
    color: white;/
}

/*.news_media {*/
/*    max-height: 400px;*/
/*    !*display: flex;*!*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 340px);*/
/*    !*justify-content: center;*!*/
/*    !*margin-top: 62px;*!*/
/*    padding: 20px !important;*/

/*}*/

/*.news_media a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.news_media_item {*/
/*    padding: 10px;*/
/*    !*max-height: 240px;*!*/
/*    !*height: 245px;*!*/
/*    !*width: 200px;*!*/
/*    border-radius: 18px;*/
/*    background: rgba(0, 90, 255, 0.05);*/
/*    display: flex;*/
/*    !*justify-content: space-around;*!*/
/*    height: 100%;*/

/*}*/

/*.news_media_item .content {*/
/*    padding: 20px;*/
/*    height: 100%;*/
/*    !*overflow-x: hidden;*!*/
/*  !*word-wrap: break-word;*!*/
/*}*/

/*.mute-text {*/
/*  color: grey;*/
/*}*/

/*.news-header {*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  justify-content: space-between;*/
/*}*/

/*.news-header p {*/
/*  border-radius: 5px;*/
/*  padding: 15px;*/
/*  color: dimgray;*/
/*  width: 100px;*/
/*  min-width: 100px;*/
/*  background: linear-gradient(142deg, #ECD8CD 0%, #D8AE97 100%);*/
/*  margin-right: -40px;*/
/*  margin-top:10px;*/
/*  font-size: 12px;*/
/*}*/

/*.news-header h3 {*/
/*  font-size: 30px;*/
/*  line-height: 30px;*/
/*  max-width: 200px;*/
/*  margin-top: 0px;*/
/*  padding-right: 15px;*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 5;*/
/*  -webkit-box-orient: vertical;*/
/*  overflow: hidden;*/
/*  word-wrap: break-word;*/
/*}*/

/*.news_main {*/
/*    overflow: hidden;*/
/*    height: 90%;*/
/*}*/

/*.news_media_item  p{*/
/*  font-size: 16px;*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 14;*/
/*  -webkit-box-orient: vertical;*/
/*  overflow: hidden;*/
/*  word-wrap: break-word;*/
/*}*/

/*@media only screen and (max-width: 480px)*/
/*.news_media {*/
/*    padding-right: 0px !important;*/
/*    width: 100%;*/
/*}*/
/*@media only screen and (max-width: 720px)*/
/*.news_media {*/
/*    max-width: 500px;*/
/*}*/

.news_item {
    background-color: rgba(0, 90, 255, 0.05);
    padding: 10px;
    border-radius: 5px;
}

.news_feed_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_item_header h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.news_content_wrapper a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.news_item_content {
    max-height: 100px;
    overflow: hidden;
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
}

.line {
    background-color: rgba(0, 90, 255, 0.05); /* Цвет фона - светло-серый, вы можете выбрать любой цвет */
    margin-bottom: 10px; /* Добавляет небольшой отступ снизу для каждой строки */
    padding: 10px; /* Добавляет внутренние отступы для некоторого пространства вокруг текста */
    border-radius: 5px; /* Слегка закругляет углы для более современного вида */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Небольшая тень для лучшего визуального разделения */
}

.list_of_news {
    list-style-type: none;
    padding: 0;
}

.list_of_news li {
    padding: 5px 0; /* Добавляет небольшое пространство между строками */
}

.icon-nav {
    position: relative; /* Определяет, что позиционирование дочерних элементов будет относительно этого блока */
    display: inline-block; /* Это делает контейнер только таким большим, как его содержимое */
}

.hidden-menu {
    display: none; /* Скрывает меню по умолчанию */
    position: absolute; /* Позиционирует меню относительно ближайшего родительского элемента с position: relative */
    background-color: #fff; /* Фоновый цвет меню */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Добавляет тень для визуального эффекта */
    min-width: 160px; /* Минимальная ширина меню */
    z-index: 1; /* Устанавливает меню поверх других элементов */
}

#menu-trigger:hover .hidden-menu,
.hidden-menu:hover {
    display: block; /* Показывает меню при наведении */
}

.hidden-menu ul {
    list-style-type: none; /* Убирает стандартные маркеры списка */
    margin: 0;
    padding: 0;
}

.hidden-menu li a {
    color: black; /* Цвет текста ссылок */
    padding: 12px 16px; /* Паддинги для каждой ссылки */
    text-decoration: none; /* Убирает подчеркивание текста */
    display: block; /* Заставляет ссылки заполнять весь доступный горизонтальный пространство */
    text-align: left; /* Выравнивание текста по левому краю */
}

.hidden-menu li a:hover {
    background-color: #ddd; /* Цвет фона для ссылок при наведении */
}

.navbar-nav {
    display: flex; /* Удостоверьтесь, что это flex контейнер, если list-group-horizontal не управляет этим */
    gap: 10px; /* Управляет расстоянием между элементами списка */
}

.nav-item {
    margin-right: 5px; /* Уменьшает правый маржин каждого элемента списка */
    margin-left: 5px; /* Уменьшает левый маржин каждого элемента списка */
}

/* Увеличение ширины выпадающего списка */
.dropdown-menu-search {
    min-width: 400px; /* Или вы можете задать конкретную ширину, например 300px */
}

/* Стилизация элемента с классом .dropdown-search, чтобы он занимал всю ширину выпадающего списка */
.dropdown-search .form-search {
    width: 100%; /* Форма поиска будет занимать всю ширину .dropdown-menu */
}

/* Дополнительные стили для поля ввода, если необходимо увеличить размер текста или высоту поля ввода */
.dropdown-search .form-control {
    font-size: 1rem; /* Можно увеличить, если нужно */
    height: auto; /* Или установите конкретную высоту, например 40px */
}

.list-group-item {
    font-size: 22px; /* Укажите нужный размер шрифта */
}

.images ul {
    list-style-type: none;
    padding: 0;
}

.images li {
    display: inline-block;
    margin: 5px;
}

.images img {
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
}