html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

.btn{
    background-color: #2b3455;
    color: white;
}

.btn:hover{
    background: white;
    color: #2b3455;
    border-color: #2b3455;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

/*Header*/

/*.navbar-light, .navbar-nav, .nav-item, */
/*.nav-link {*/
/*    border-radius: 5px;*/
/*    border: 1px solid #2b3455;*/

/*}*/

nav img {
    height: 130px;
    margin: 1px;
}

.nav-link:hover {
    color: #2b3455;
    text-decoration: underline;
}

/*.top-menu li a::after {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/
/*    background-color: #2b3455;*/
/*    height: 1px;*/
/*    transition: all .3s;*/
/*    transform: scale(0);*/
/*}*/

/*.top-menu li a:hover::after {*/
/*    transform: scale(1);*/
/*}*/

/*Header end*/

/*footer*/

.footer {
    padding-top: 20px;
}

footer {
    background-color: #2b3455;

}

footer img {
    max-height: 100px;

}

footer .nav-link {
    color: white;
}

footer .nav-link:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    margin: 0;
    color: grey;
    font-size: 14px;
}

.btn__footer {
    background: #fceabb;
    background: -moz-radial-gradient(center, ellipse cover,  #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #fceabb 0%,#fccd4d 50%,#f8b500 91%,#fbdf93 100%);
    background: radial-gradient(ellipse at center,  #fceabb 0%,#fccd4d 50%,#f8b500 91%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );

    padding: 30px 50px;
    color: #2b3455;
    margin:  30px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;

}

.footer__text {
    font-size: 18px;
}

.footer__nav-link {
    font-size: 30px;
}

.nav_footer{
    padding-bottom: 10px;
    font-size: 24px
}

/*footer*/

.my_carousel {
    padding: 0;
}

.my_carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.my_carousel .carousel-item img {
    object-fit: cover;
}