html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background-color: rgba(235,239,234,0.30);
    min-width: 320px;
}

.btn{
    background-color: #2b3455;
    color: white;
}

.btn:hover{
    background: white;
    color: #2b3455;
    border-color: #2b3455;
}

/*img {*/
/*    max-width: 100%;*/
/*    !*height: max-content;*!*/
/*}*/

section {
    padding: 50px 0;
}

/*Header*/

/*.navbar-light, .navbar-nav, .nav-item, */
/*.nav-link {*/
/*    border-radius: 5px;*/
/*    border: 1px solid #2b3455;*/

/*}*/

nav img {
    height: 130px;
    margin: 1px;
}

.nav-link:hover {
    color: #2b3455;
    text-decoration: underline;
}

/*.top-menu li a::after {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/
/*    background-color: #2b3455;*/
/*    height: 2px;*/
/*    transition: all .3s;*/
/*    opacity: 0;*/
/*    overflow: hidden;*/
/*    !*transform: scale(0);*!*/
/*}*/

/*.top-menu li a:hover::after {*/
/*    !*transform: scale(1);*!*/
/*}*/

/*Header end*/

/*footer*/

.footer {
    padding-top: 20px;
}

footer {
    background-color: #2b3455;

}

footer img {
    max-height: 100px;

}

footer .nav-link {
    color: white;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (24 - 21) + 21px);
}

footer .nav-link:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    margin: 0;
    color: grey;
    font-size: 14px;
}

.last-chld-footer-icon {
    text-align: right;
}

.btn__footer {
    background: #fceabb;
    background: -moz-radial-gradient(center, ellipse cover,  #fceabb 0%, #fccd4d 50%, #f8b500 91%, #fbdf93 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #fceabb 0%,#fccd4d 50%,#f8b500 91%,#fbdf93 100%);
    background: radial-gradient(ellipse at center,  #fceabb 0%,#fccd4d 50%,#f8b500 91%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );

    /*padding: 30px 50px;*/
    color: #2b3455;
    margin:  30px 0;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (24 - 12) + 12px);
    font-style: normal;
    font-weight: 600;
}



.footer__text {
    font-size: 18px;
}

.footer__nav-link {
    font-size: 30px;
}

.nav_footer{
    padding-bottom: 10px;
    font-size: 24px
}

/*footer*/

.my_carousel {
    padding: 0;
}

.my_carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.my_carousel .carousel-item img {
    object-fit: cover;
}

#container-index {
    margin-top: 30px;
}

.index-top-talk:hover {
    background-color: rgba(202,206,201,0.40);
}

.bg-logo {
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-ch-bg {
      /*max-width: 500px;*/
      /*margin-left: auto;*/
      /*margin-right: auto;*/
    }

    @keyframes bg-сhange {
      from {
        background-image: url('../img/bg-logo.png');
      }

      25% {
        background-image: url('../img/bg-bl-2.png');
      }

      50% {
        background-image: url('../img/bg-bl-3.png');
      }

      75% {
        background-image: url('../img/bg-bl-4.png');
      }


      to {
        background-image: url('../img/bg-bl-1.png');
      }
    }

    #bg {
      /*position: relative;*/
      /*padding-top: 75%;*/
      /*background-size: cover;*/
      animation: bg-сhange 25s infinite;
    }

.icon-bg {
    font-size: calc( (100vw - 320px)/(1280 - 320) * (80 - 80) + 80px);;
}

#mission {
    border: 2px solid gray;
}