<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=
    Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    {#    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    {#    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'homeapp/js/main.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'homeapp/css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style></style>
</head>
<body>
<nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homeapp:index' %}">
            <picture>
                <source srcset="{% static 'homeapp/img/bg-logo.png' %}" media="(max-width: 1500px)">
                <img src="{% static 'homeapp/img/logo-main.png' %}" alt="">
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Практики
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'homeapp:zashchita' %}">Защита от уголовного
                            преследования</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:business' %}">Уголовно-правовая защита
                            бизнеса</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:antikorruptsionnoe' %}">Антикоррупционное
                            просвещение</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:semeynoe' %}">Семейное право</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:zemelnoe' %}">Земельное право</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:reputatsii' %}">Защита деловой репутации</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:konsalting' %}">Стратегический консалтинг</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:meditsinskoe' %}">Медицинское право</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:arbitrazhnaya' %}">Арбитражная практика</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:sanktsionnaya' %}">Санкционная практика</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Порядок работы
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'homeapp:rabotaem' %}">Как мы работаем</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:polnomochiya' %}">Полномочия адвоката</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:tayna' %}">Адвокатская тайна</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:soglashenie' %}">Соглашение и ордер</a></li>
                        <li><a class="dropdown-item" href="{% url 'homeapp:varianty' %}">Варианты вознагрождения</a>
                        </li>
                    </ul>
                </li>
                {#          спросить у преподавателя про aria-current и active#}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'homeapp:team' %}">Команда</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'homeapp:cases' %}">Кейсы</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'homeapp:career' %}">Карьера</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'homeapp:about' %}">О нас</a></li>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="поиск по сайту" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://t.me/arsssss"><i
                            class="fa-brands fa-telegram fa-2xl" style="color: #2b3455;"></i></a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'homeapp:cases' %}"><i
                            class="fa-brands fa-instagram fa-2xl" style="color: #2b3455;"></i></a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer>
    <section class="footer">
        <div class="container">
            <div class="row"><h4>
                <a class="navbar-brand" href="{% url 'homeapp:index' %}"><img
                        src="{% static 'homeapp/img/logo_white.png' %}" alt="logo"></a>
            </h4></div>
            <div class="row">
                <div class="col-md-4 col-6 ">
                    <ul class="list-unstyled">
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:team' %}">Практики</a></li>
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:cases' %}">Порядок работы</a></li>
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:team' %}">Команда</a></li>
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:cases' %}">Кейсы</a></li>
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:career' %}">Карьера</a></li>
                        <li class="nav-item nav_footer"><a class="nav-link" aria-current="page"
                                                           href="{% url 'homeapp:about' %}">О нас</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-6 requisites">
                    <ul class="list-unstyled">
                        <p class="footer__text mb-3">Получить консультацию и пошаговый план действий </p>
                        <li class="nav-item"><p>Почта</p><a class="nav-link" aria-current="page"
                                                            href="mailto:info@mkapartner.ru">info@mkapartner.ru</a></li>
                        <li class="nav-item"><p>Телефон</p><a class="nav-link" aria-current="page"
                                                              href="tel:+79160050999">+79160050999</a></li>
                        <li class="nav-item"><p>Адрес</p><a class="nav-link" aria-current="page"
                                                            href="https://yandex.ru/maps/org/mfk_bashnya_federatsiya/177194224888/?ll=37.537434%2C55.748374&mode=search&sll=37.537384%2C55.749615&sspn=0.007290%2C0.002321&text=%D0%B3.%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D0%9F%D1%80%D0%B5%D1%81%D0%BD%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BD%D0%B0%D0%B1%D0%B5%D1%80%D0%B5%D0%B6%D0%BD%D0%B0%D1%8F%2C%20%D0%B4%D0%BE%D0%BC%2012%2C%20%D0%9A%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%20%C2%AB%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D1%8F%C2%BB%2C%20%D0%B1%D0%B0%D1%88%D0%BD%D1%8F%20%C2%AB%D0%97%D0%B0%D0%BF%D0%B0%D0%B4%C2%BB%2C%2045%20%D1%8D%D1%82%D0%B0%D0%B6%2C%20%D0%BE%D1%84%D0%B8%D1%81%2042.&utm_source=share&z=16.34">г.
                            Москва, <br>Комплекс «Федерация», башня «Запад», 45 этаж, офис 42.</a></li>

                    </ul>
                </div>
                <div class="col-md-4 col-6">
                    <div class="container">
                        <div class="row">
                            <p class="footer__text">Оставьте заявку, и мы сами свяжемся с вами</p>
                            <button type="button" class="btn btn-primary btn__footer" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Получить консультацию
                            </button>
                        </div>
                        <div class="row pt-4">
                            <div class="col text-center">
                                <a class="nav-link footer__nav-link" aria-current="page" href="https://t.me/arsssss"><i
                                        class="fa-brands fa-telegram fa-2xl" style="color: white;"></i></a>
                            </div>
                            <div class="col text-center">
                                <a class="nav-link footer__nav-link" aria-current="page"
                                   href="{% url 'homeapp:cases' %}"><i class="fa-brands fa-instagram fa-2xl"
                                                                       style="color: white;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Copyright © 2023 Московская колления адвокатов "Партнер Групп". При использовании любой информации,
                    оставляйте ссылку на сайт</p>
                <a href="https://t.me/arsssss" style="color: grey">Сайт разработан @codarsssss</a>

            </div>

        </div>

    </section>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f8895a3494.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            "@0.00": {
                slidesPerView: 1,
                spaceBetween: 10,
            },
            "@0.75": {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            "@1.00": {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            "@1.50": {
                slidesPerView: 4,
                spaceBetween: 50,
            },
        },
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $('.team-slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
</script>
<script>
    const input = document.body.querySelector('.telmask');

    input.addEventListener('keypress', (evt) => {
        if (evt.keyCode < 47 || evt.keyCode > 57) {
            evt.preventDefault();
        }
    })

    input.addEventListener('focus', () => {
        if (input.value.length === 0) {
            input.value = '+7';
            input.selectionStart = input.value.length;
        }
    })

    input.addEventListener('click', (evt) => {
        if (input.selectionStart < 2) {
            input.selectionStart = input.value.length;
        }
        if (evt.key === 'Backspace' && input.value.length <= 2) {
            evt.preventDefault();
        }
    })

    input.addEventListener('blur', () => {
        if (input.value === '+7') {
            input.value = '';
        }
    })

    input.addEventListener('keydown', (evt) => {
        if (evt.key === 'Backspace' && input.value.length <= 2) {
            evt.preventDefault();
        }
    })
</script>
</body>
</html>