<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>livvic personal Portfolio  HTML Template</title>


    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/bootstrap.min.css">

    <!--====== Fontawesome pro css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/all.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/slick.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/slick-menu.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/style.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/responsive.css">


</head>

<body>
     <!--======  PRELOADER PART START ======-->
     <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!--======  PRELOADER PART END ======-->

    <!--======  OFFCANVAS-SEARCH PART START ======-->
    <div class="offcanvas-search-area">
        <form action="#">
            <input type="text" placeholder="search">
            <span class="close-bar"><i class="fas fa-times"></i></span>
        </form>
    </div>
    <!--======  OFFCANVAS-SEARCH PART END ======-->

    <!--======  HEADER PART START ======-->
    <header>
        <section class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="top-header-content">
                                    <span><i class="fas fa-phone"></i>+012 (345) 67899</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="top-header-content">
                                    <span><i class="fas fa-map-marker-alt"></i>63 Plabon Road, USA</span>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="top-header-content">
                                    <span><i class="far fa-clock"></i>Sun - Friday : 10 am - 08 pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right border">
                        <div class="top-header-social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bottom-header-area sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="../../static/homeapp/assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 text-right">
                        <div class="mobile-menu-wrap"></div>
                        <div class="header-search">
                            <span class="search-btn"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul id="mobile-menu"> 
                                    <li class="current"><a href="index.html">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">team</a></li>
                                    <li><a href="#">price</a></li>
                                    <li><a href="#">Blog</a>
                                        <ul class="submenu">
                                            <Li><a href="blog.html">Latest Blog</a></Li>
                                            <Li><a href="blog-details.html">Blog Details</a></Li>
                                        </ul>
                                    </li>
                                    <li><a href="#Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!--======  HEADER PART END ======-->

    <!--======  BREADCRUMB PART START ======-->
    <section class="breadcrumb breadcrumb-bg breadcrumb-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content blog-page-heading-content">
                        <h1>Latest Blog</h1>
                            <p>Home <span></span>  Blog</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======  BREADCRUMB PART END ======-->

    <!--======  BLOG PART START ======-->
    <section class="blog-area latest-blogs pb-140 pt-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-blog-item pb-60">
                        <div class="single-blog-img">
                            <img src="../../static/homeapp/assets/images/latest-blog/1.jpg" alt="">
                        </div>
                        <div class="single-blog-item-content">
                            <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                            <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                            <h4>Building Serverless Contact Form For Your Static Site</h4>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                            <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                        </div>
                     </div>
                    
                    <div class="single-blog-item pb-60">
                     <div class="single-blog-img">
                         <img src="../../static/homeapp/assets/images/latest-blog/2.jpg" alt="">
                     </div>
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Fast UX Research An Easier Way To Engage Stakeholders </h4>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
 
                 <div class="single-blog-item">
                     <div class="single-blog-img">
                         <img src="../../static/homeapp/assets/images/latest-blog/3.jpg" alt="">
                     </div>
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Fast UX Research An Easier Way To Engage Stakeholders </h4>
                         <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
                </div>
                <div class="col-lg-4">
                 <div class="single-blog-item extra-padding">
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>77 Hand-Drawn Space Icons That’ll Take You Inplored Terre
                             itories (Freebie)</h4>
                         <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
                 
                 <div class="single-blog-item">
                     <div class="single-blog-img">
                         <img src="../../static/homeapp/assets/images/latest-blog/4.jpg" alt="">
                     </div>
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Submitting Forms Without Reloadin The Page Implementation</h4>
                         <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
  
                 <div class="live-strem-content extra-padding">
                     <h4>Live Stream From Awwwards
                         Berlin 2018: Showcasing Trends
                         In Design & Development</h4>
                         <span>Jose L. Conley</span>
                 </div>
                 
                 <div class="single-blog-item">
                     <div class="single-blog-img">
                         <img src="../../static/homeapp/assets/images/latest-blog/5.jpg" alt="">
                     </div>
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Fast UX Research An Easier Way To Engage Stakeholders </h4>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
                </div>
                <div class="col-lg-4">
                 <div class="single-blog-item pb-60">
                     <div class="single-blog-img">
                         <img src="../../static/homeapp/assets/images/latest-blog/6.jpg" alt="">
                     </div>
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Building Serverless Contact Form For Your Static Site</h4>
                         <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
 
                 <div class="single-blog-item pb-60">
                     <div class="single-blog-item-content">
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Live Stream From Awwwards
                             Berlin 2018: Showcasing Trends
                             In Design & Development</h4>
                         <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu pleasure rationally encounter consequences.</p>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
 
                 <div class="single-blog-item">
                     <div class="single-blog-item-content">
                         <div class="single-blog-img">
                             <img src="../../static/homeapp/assets/images/latest-blog/7.jpg" alt="">
                         </div>
                         <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                         <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                         <h4>Fast UX Research An Easier Way To Engage Stakeholders </h4>
                         <a href="#" class="view-details-btn">View Details <i class="fa fa-arrow-right"></i></a>
                     </div>
                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  pt-80">
                    <ul class="pagination text-center">
                        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--======  BLOG PART END ======-->

    <!--======  CONTACT-WITH-FOOTER PART START ======-->
    <section class="contact-with-footer-area contact-bg pt-100" id="Contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center pb-80">
                    <div class="section-title contact-title">
                        <span><img src="../../static/homeapp/assets/images/contact-text.png" alt=""></span>
                        <p class="section-para"><span></span>Message Us</p>
                        <h1>Don't Hesitate To Contact 
                            With Us</h1>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-area">
                        <form action="#">
                            <div class="single-contact-field">
                                <input type="text" placeholder="Your Name">
                                <span class="far fa-user"></span>
                            </div>
                            
                            <div class="single-contact-field">
                                <input type="email" placeholder="Your email">
                                <span class="fas fa-envelope-open-text"></span>
                            </div>
                            
                            <div class="single-contact-field">
                                <input type="text" placeholder="Your phone">
                                <span class="fas fa-phone"></span>
                            </div>
                            
                            <div class="single-contact-field textarea">
                                <textarea name="#" id="#" cols="30" rows="10" placeholder="Your Message"></textarea>
                                <span class="fas fa-pencil-alt"></span>
                                <a href="#" class="btn contact-btn">send message <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>+012 (345) 77 999</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>support@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>55 New Sodor Road, USA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; 2020 Livvic. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="footer-links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======  CONTACT-WITH-FOOTER PART END ======-->

    <!--======  SCROLL-TO-TOP PART START ======-->
    <div class="scroll-to-top">
        <span id="return-to-top"><i class="fa fa-arrow-up"></i></span>
    </div>
    <!--======  SCROLL-TO-TOP PART END ======-->




   

    <!--====== jquery js ======-->
    <script src="../../static/homeapp/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../../static/homeapp/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../../static/homeapp/assets/js/bootstrap.min.js"></script>
    <script src="../../static/homeapp/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../../static/homeapp/assets/js/slick.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../../static/homeapp/assets/js/slick-menu.min.js"></script>

    <!--====== counterup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.counterup.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== onepage-nav Popup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.nav.js"></script>

    <!--====== Main js ======-->
    <script src="../../static/homeapp/assets/js/main.js"></script>

</body>

</html>
