<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>livvic personal Portfolio  HTML Template</title>


    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/bootstrap.min.css">

    <!--====== Fontawesome pro css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/all.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/slick.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/slick-menu.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/style.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="../../static/homeapp/assets/css/responsive.css">


</head>

<body>
    <!--======  PRELOADER PART START ======-->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!--======  PRELOADER PART END ======-->

    <!--======  OFFCANVAS-SEARCH PART START ======-->
    <div class="offcanvas-search-area">
        <form action="#">
            <input type="text" placeholder="search">
            <span class="close-bar"><i class="fas fa-times"></i></span>
        </form>
    </div>
    <!--======  OFFCANVAS-SEARCH PART END ======-->

    <!--======  HEADER PART START ======-->
    <header>
        <section class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="top-header-content">
                                    <span><i class="fas fa-phone"></i>+012 (345) 67899</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="top-header-content">
                                    <span><i class="fas fa-map-marker-alt"></i>63 Plabon Road, USA</span>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="top-header-content">
                                    <span><i class="far fa-clock"></i>Sun - Friday : 10 am - 08 pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right border">
                        <div class="top-header-social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bottom-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="../../static/homeapp/assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 text-right">
                        <div class="mobile-menu-wrap"></div>
                        <div class="header-search">
                            <span class="search-btn"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul id="mobile-menu"> 
                                    <li class="current"><a href="index.html">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">team</a></li>
                                    <li><a href="#">price</a></li>
                                    <li><a href="#">Blog</a>
                                        <ul class="submenu">
                                            <Li><a href="blog.html">Latest Blog</a></Li>
                                            <Li><a href="blog-details.html">Blog Details</a></Li>
                                        </ul>
                                    </li>
                                    <li><a href="#Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!--======  HEADER PART END ======-->


    <!--======  breadcrumb PART START ======-->
    <section class="breadcrumb breadcrumb-bg breadcrumb-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content blog-page-heading-content">
                        <h1>Blog Details</h1>
                            <p>Home <span></span>  Blog Details</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======  breadcrumb PART end ======-->

    <!--======  blog-details PART START ======-->
    <section class="blog-details pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-blog-details-box">
                        <div class="blog-boxed-img">
                            <img src="../../static/homeapp/assets/images/blog-details/1.jpg" alt="">
                        </div>
                        <div class="single-blog-details-box-time">
                            <span><i class="fas fa-user-alt"></i>Daniele Custer</span>
                            <span><i class="far fa-calendar-alt"></i>25 Nov 2019</span>
                            <ul>
                                <li>Share Now</li>
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h2>Monthly Web Development Update Complexity
                            Over HTTPS, And Push Notifications</h2>
                        <p>But we ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor incididunt labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehendermust explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone</p>
                    </div>
                    <h4 class="absolute-bordered-heading">Avoids pleasure itself, because it is pleasure, but because those 
                        who do not know how to pursue pleasure rationally encounter con
                        sequences that are extremely painful again anyone <span>Tony R. Francois</span></h4>
                    <div class="populer-tags">
                        <ul class="tags">
                            <li class="tag-heading">Popular Tag :</li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Agency</a></li>
                            <li><a href="#">Personal</a></li>
                        </ul>
                        <ul class="tags-socials-icons">
                            <li>share</li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="colered-box-text">
                        <span>Building Pub Sub Service
                            Using Node And Redis</span>
                        <span>Once Upon Time Use Story
                            For Better Engagement</span>
                    </div>
                    <div class="comments-section">
                        <h2 class="blog-details-heading">Client’s Comments</h2>
                        <div class="single-comments-box">
                            <div class="author-img">
                                <img src="../../static/homeapp/assets/images/blog-details/2.png" alt="">
                            </div>
                            <div class="comments-body">
                                <h5>Alexzeder Alex <span>25 July 2019</span></h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
                                <a href="#" class="comments-replay-btn">Reply Commets <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="single-comments-box">
                            <div class="author-img">
                                <img src="../../static/homeapp/assets/images/blog-details/3.png" alt="">
                            </div>
                            <div class="comments-body">
                                <h5>Alexzeder Alex<span>25 July 2019</span></h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
                                <a href="#" class="comments-replay-btn">Reply Commets <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="single-comments-box">
                            <div class="author-img">
                                <img src="../../static/homeapp/assets/images/blog-details/4.png" alt="">
                            </div>
                            <div class="comments-body">
                                <h5>Alexzeder Alex <span>25 July 2019</span></h5>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
                                <a href="#" class="comments-replay-btn">Reply Commets <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-area blog-details-content">
                        <h2 class="blog-details-heading">Send A Message</h2>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Your Full Name">
                                    <span><i class="far fa-user"></i></span>
                                    
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" placeholder="Your Email ">
                                    <span><i class="fas fa-envelope-open-text"></i></span>
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="#" id="#" cols="30" rows="10" placeholder="Write Message"></textarea>
                                    <span><i class="fas fa-pencil-alt"></i></span>
                                    <a href="#" class="btn blog-content-btn">send replya <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-details-search">
                        <form action="#">
                            <input type="text" placeholder="Search Keywords">
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <div class="recent-news-area">
                        <h4 class="blog-details-heading">Recent News</h4>
                        <div class="single-news-box">
                            <div class="news-box-img">
                                <img src="../../static/homeapp/assets/images/blog-details/5.png" alt="">
                            </div>
                            <div class="news-box-content">
                                <h5>Quick Win For Improe Perfor Securitys. <span>05 Feb 2020</span></h5>
                            </div>
                        </div>
                        <div class="single-news-box">
                            <div class="news-box-img">
                                <img src="../../static/homeapp/assets/images/blog-details/6.png" alt="">
                            </div>
                            <div class="news-box-content">
                                <h5>Quick Win Imperfora Security Web ses <span>05 Feb 2020</span></h5>
                            </div>
                        </div>
                        <div class="single-news-box">
                            <div class="news-box-img">
                                <img src="../../static/homeapp/assets/images/blog-details/7.png" alt="">
                            </div>
                            <div class="news-box-content">
                                <h5>We’ve Got Announce ment Make Rachel<span>05 Feb 2020</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="blog-category-area">
                        <h4 class="blog-details-heading">Category</h4>
                        <p>Business Strategy <span>(20)</span></p>
                        <p>Investment Planning<span>(05)</span></p>
                        <p>Financial Investment<span>(03)</span></p>
                        <p>Banking & Insurance<span>(30)</span></p>
                        <p>Free Consulting<span>(07)</span></p>
                        <p>Business Strategy <span>(20)</span></p>
                        <p>Meet Our Team<span>(09)</span></p>
                    </div>
                    <div class="blog-tabs">
                        <h4 class="blog-details-heading">Populer Tag</h4>
                        <ul>
                            <li><a href="#">Cleaning</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Booking</a></li>
                            <li><a href="#">Car</a></li>
                            <li><a href="#">House</a></li>
                            <li><a href="#">Apartment</a></li>
                            <li><a href="#">Washing</a></li>
                            <li><a href="#">Agency</a></li>
                            <li><a href="#">Listing</a></li>
                        </ul>
                    </div>
                    <div class="blog-coleded-box-section">
                        <div class="blog-colered-box-bg">
                            <img src="../../static/homeapp/assets/images/blog-details/8.jpg" alt="">
                        </div>
                        <div class="absolute-colored-box-contetn">
                            <H1>Worak <br>
                                Together</H1>
                                <p>Bur wemust ipsum dolor sit amet 
                                    consectetur adipisicing elit sed eiusmod tempor incididunt ut labore</p>
                            <a href="#" class="colored-box-btn btn">Contact Now <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======  blog-details PART end ======-->

    <!--======  CONTACT-WITH-FOOTER PART START ======-->
    <section class="contact-with-footer-area contact-bg pt-100" id="Contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center pb-80">
                    <div class="section-title contact-title">
                        <span><img src="../../static/homeapp/assets/images/contact-text.png" alt=""></span>
                        <p class="section-para"><span></span>Message Us</p>
                        <h1>Don't Hesitate To Contact 
                            With Us</h1>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-area">
                        <form action="#">
                            <div class="single-contact-field">
                                <input type="text" placeholder="Your Name">
                                <span class="far fa-user"></span>
                            </div>
                            
                            <div class="single-contact-field">
                                <input type="email" placeholder="Your email">
                                <span class="fas fa-envelope-open-text"></span>
                            </div>
                            
                            <div class="single-contact-field">
                                <input type="text" placeholder="Your phone">
                                <span class="fas fa-phone"></span>
                            </div>
                            
                            <div class="single-contact-field textarea">
                                <textarea name="#" id="#" cols="30" rows="10" placeholder="Your Message"></textarea>
                                <span class="fas fa-pencil-alt"></span>
                                <a href="#" class="btn contact-btn">send message <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>+012 (345) 77 999</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>support@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-address-area">
                        <span><i class="fa fa-arrow-right"></i>55 New Sodor Road, USA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; 2020 Livvic. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="footer-links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======  CONTACT-WITH-FOOTER PART END ======-->

    <!--======  SCROLL-TO-TOP PART START ======-->
    <div class="scroll-to-top">
        <span id="return-to-top"><i class="fa fa-arrow-up"></i></span>
    </div>
    <!--======  SCROLL-TO-TOP PART END ======-->


   

    <!--====== jquery js ======-->
    <script src="../../static/homeapp/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../../static/homeapp/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../../static/homeapp/assets/js/bootstrap.min.js"></script>
    <script src="../../static/homeapp/assets/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../../static/homeapp/assets/js/slick.min.js"></script>

    <!--====== Slick js ======-->
    <script src="../../static/homeapp/assets/js/slick-menu.min.js"></script>

    <!--====== counterup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.counterup.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== onepage-nav Popup js ======-->
    <script src="../../static/homeapp/assets/js/jquery.nav.js"></script>

    <!--====== Main js ======-->
    <script src="../../static/homeapp/assets/js/main.js"></script>

</body>

</html>
