{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1>Работа в МКА «Партнер групп»</h1>
                    <p>Для работы в МКА «Партнер групп» мы отбираем лучшие кадры по всему рынку: это люди с хорошей
                    технической базой и качественным профильным образованием, часто с опытом работы в правоохранительных
                    органах, которых отличает умение нестандартно мыслить и находить решения для сложных и, казалось бы,
                    безвыходных ситуаций.
                    Мы всегда рады новым блистательным членам команды, даже если у нас нет открытых вакансий в данный
                    момент, мы готовы рассмотреть каждого кандидата!</p>
                    <a href="#" class="btn btn-dark">Прислать резюме</a>
                </div>
            </div>
{#        <div class="row">#}
{#            <form>#}
{#                <div class="mb-3">#}
{#                    <label for="exampleInputEmail1" class="form-label">ФИО</label>#}
{#                    <input type="text" class="form-control" id="text-name" aria-describedby="emailHelp">#}
{#                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>#}
{#                </div>#}
{#                <div class="mb-3">#}
{#                    <label for="exampleInputPassword1" class="form-label">Год рождения</label>#}
{#                    <input type="date" class="form-control" id="exampleInputPassword1">#}
{#                </div>#}
{#                <div class="mb-3 form-check">#}
{#                    <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#                    <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
{#            </form>#}
{#        </div>#}
            <div class="row">
                <form method="POST" class="job-form" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label  for="fio" class="form-label">ФИО</label>
                        <input type="text" name="fio" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-label">Год рождения</label>
                        <input type="date" name="birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label text-muted">желаемая позиция</label>
                        <select name="want_to" class="form-control">
                            <option>-- выбрать --</option>
                            <option>Прохождение практики</option>
                            <option>Стажировка</option>
                            <option>Помощник юриста</option>
                            <option>Юрист</option>
                            <option>Адвокат</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label  for="education" class="form-label">Место учебы</label>
                        <input type="text" name="education" class="form-control">
                    </div>
                    <div class="form-group">
                        <label  for="experience" class="form-label">Укажите компании в которых вы работали, и период работы</label>
                        <input type="text" name="experience" class="form-control">
                    </div>
                    <div class="form-group">
                        <label  for="mail" class="form-label">E-mail</label>
                        <input type="email" name="mail" class="form-control">
                    </div>
                    <div class="form-group">
                         <label  for="covering" class="form-label">Сопроводительное письмо</label>
                        <textarea class="form-control" name="covering" cols="40" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="resume" class="form-label">Резюме (не обязательно)</label>
                        <input type="file" name="resume" class="form-control">
                    </div>
                     <div class="form-group form-check form-switch my-3">
                        <input type="checkbox" name="check-box" class="form-check-input">
                        <label name="agree"  for="check-box" class="form-check-label">Согласие с <a href="#">политикой конфиденциальности</a></label>
                    </div>

                         <button type="submit" class="btn btn-primary">Отправить</button>


                </form>
            </div>
        </div>


{% endblock %}
