{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1>Работа в МКА «Партнер групп»</h1>
                    <p>Для работы в МКА «Партнер групп» мы отбираем лучшие кадры по всему рынку: это люди с хорошей
                    технической базой и качественным профильным образованием, часто с опытом работы в правоохранительных
                    органах, которых отличает умение нестандартно мыслить и находить решения для сложных и, казалось бы,
                    безвыходных ситуаций.
                    Мы всегда рады новым блистательным членам команды, даже если у нас нет открытых вакансий в данный
                    момент, мы готовы рассмотреть каждого кандидата!</p>

                </div>
            </div>

            <div class="row mt-5">
                <form method="POST" class="job-form" enctype="multipart/form-data" prefix="form" id="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label  for="fio" class="form-label">ФИО</label>
                        <input type="text" name="fio" class="form-control" required autocomplete="">
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-label">Год рождения</label>
                        <input type="date" name="birthday" min="1900-01-01" max="2023-07-19" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label text-muted">желаемая позиция</label>
                        <select name="want_to" required class="form-control">
                            <option value="option">-- выбрать --</option>
                            <option value="option_1">Прохождение практики</option>
                            <option value="option_2">Стажировка</option>
                            <option value="option_3">Помощник юриста</option>
                            <option value="option_4">Юрист</option>
                            <option value="option_5">Адвокат</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label  for="education" class="form-label">Место учебы</label>
                        <input type="text" name="education" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label  for="experience" class="form-label">Укажите компании в которых вы работали, и период работы</label>
                        <input type="text" name="experience" class="form-control">
                    </div>
                    <div class="form-group">
                        <label  for="mail" class="form-label">E-mail</label>
                        <input type="email" name="mail" required class="form-control">
                    </div>
                    <div class="form-group">
                         <label  for="covering" class="form-label">Сопроводительное письмо</label>
                        <textarea class="form-control" name="covering" cols="40" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="resume" class="form-label">Резюме (не обязательно)</label>
                        <input type="file" name="resume" class="form-control">
                    </div>
                     <div class="form-group form-check form-switch  mt-5">

                        <input type="checkbox" name="agree" required class="form-check-input">
                        <label for="agree" class="form-check-label">Согласие с <a href="{% url 'homeapp:privicy' %}">политикой конфиденциальности</a></label>

                    </div>

                        <button type="submit" class="btn btn-primary mt-5">Отправить</button>
                </form>
            </div>
        </div>


{% endblock %}
