{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1>Работа в МКА «Партнер групп»</h1>
                    <p>Для работы в МКА «Партнер групп» мы отбираем лучшие кадры по всему рынку: это люди с хорошей
                    технической базой и качественным профильным образованием, часто с опытом работы в правоохранительных
                    органах, которых отличает умение нестандартно мыслить и находить решения для сложных и, казалось бы,
                    безвыходных ситуаций.
                    Мы всегда рады новым блистательным членам команды, даже если у нас нет открытых вакансий в данный
                    момент, мы готовы рассмотреть каждого кандидата!</p>
                    <a href="#" class="btn btn-dark">Прислать резюме</a>
                </div>
            </div>
        <div class="row">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ФИО</label>
                    <input type="text" class="form-control" id="text-name" aria-describedby="emailHelp">
{#                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>#}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Год рождения</label>
                    <input type="date" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        </div>


{% endblock %}
