{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row  pt-4 ">
            <div class="col-4 justify-content-between">
                <button>оправдательный приговор</button>
            </div>
            <div class="col-4 justify-content-between">
                <button>Особо тяжкое преступление ч.1 ст. 105 УК РФ -компромисс</button>
            </div>
            <div class="col-4 justify-content-between">
                <button>ч. 4 ст. 159 УК РФ</button>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-4 ">
                <button>ПОЛУЧЕНИЕ ВЗЯТКИ</button>
            </div>
            <div class="col-4 ">
                <button>Застройщик- ч. 4 ст. 159 УК РФ</button>
            </div>
            <div class="col-4 ">
                <button>Хищение сотрудником на рабочем месте</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3 m-1"></div>
            <div class="col-3 m-1"></div>
            <div class="col-3 m-1"></div>
        </div>
        <div class="row">
            <div class="col-3 m-1"></div>
            <div class="col-3 m-1"></div>
            <div class="col-3 m-1"></div>
        </div>
    </div>

{% endblock %}
