{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
    <h1>Практика адвокатов МКА «Партнер групп»</h1>
        <div class="row  pt-4 ">
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_1' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Оправдательный приговор</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_2' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Особо тяжкое преступление ч.1 ст. 105 УК РФ -компромисс</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_3' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Оправдательный приговор мошенничество, легализация</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row  pt-4 ">
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_4' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Получение взятки</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_5' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Вердикт присяжных заседателей не виновен в убийстве</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_6' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">ч. 4 ст. 159 УК РФ</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    <div class="row  pt-4 ">
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_7' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/7.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Хищение сотрудником на рабочем месте</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_8' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/8.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Банкротство физических лиц</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_9' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/9.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Потерпевшие ч. 4 ст. 159 УК РФ</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    <div class="row  pt-4 ">
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_10' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/10.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Особо тяжкое преступление по результатам
                            оперативно-розыскного мероприятия.
                            ч. 4 ст. 228.1 УК РФ</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_11' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/11.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Деловая репутация</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_12' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/12.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Злоупотребление должностными полномочиями, повлекшее тяжкие последствия</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    <div class="row  pt-4 mb-5">
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_13' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/13.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Превышение должностных полномочий-компромисс</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_14' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/14.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Застройщик- ч. 4 ст. 159 УК РФ</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_15' %}">
                    <div class="card p-4 m-2" >
                    <img  src="{% static 'homeapp/img/cases/15.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Суд отклонил незаконные требования прокуратуры</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

    </div>

{% endblock %}
