{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}
    {#    <div style="background: url({% static 'homeapp/img/first_screen.png'%}); height: 200px; width: 100%; background-size: cover"></div>#}
    <div class="container" style="min-height: 341px">
        <div class="row">
            <div class="col justify-content-center text-center">
                <div class="body-header">
                    <h1>{{ news_obj.title }}</h1>
                    <div class="photo-grid">
                    </div>
                    <div class="bode-text">
                        {{ news_obj.text|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}