{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        {% for partner in partners %}
            {% if partner.id|divisibleby:2 %}
                <div class="row mt-5 ">
            <div class="col-lg-8 mt-4">
                <h2>{{ partner.name }}</h2>
                <p>{{ partner.context|linebreaksbr }}</p>
            </div>
            <div class="col-lg-4 order-first order-lg-last">
                <img class="rounded w-100" src="{{ partner.photo.url }}" alt="{{ partner.name }}">
            </div>
        </div>
            {% else %}
                <div class="row mt-5">
            <div class="col-lg-4">
                <img class="rounded w-100" src="{{ partner.photo.url }}" alt="{{ partner.name }}">
            </div>
            <div class="col-lg-8 mt-4">
                <h2>{{ partner.name }}</h2>
                <p>{{ partner.context|linebreaksbr }}</p>
            </div>
        </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}
