{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8">
                <h3>Гармаев Юрий Петрович</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, iusto.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, tempora.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ipsam!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, pariatur?</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, perferendis?</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, optio.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, praesentium.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/1.jpg' %}">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/2.jpg' %}">
            </div>
            <div class="col-lg-8">
                <h3>Чебучакова Татьяна Юрьевна</h3>
                <ul>
                    <li>Адвокат</li>
                    <li>Арбитражный управляющий</li>
                    <li>Эксперт по защите от субсидиарной ответственности, оспаривание сделок</li>
                    <li>Оспаривание сделок совершенных как со стороны собственников имущества, так и
                        со стороны покупателя
                    </li>
                    <li>Сопровождение процедур банкротства и любых споров в деле о банкротстве</li>
                    <li>Более 15 лет сохраняет владельцам бизнеса личные накопления, имущество,
                        исключает риски субсидиарной ответственности
                    </li>
                    <li>Кейсов на сумму выгоды клиентов более 10 млрд. руб. в виде отказа от
                        привлечения к субсидиарной ответственности, либо убереженного
                        имущества от взыскания по сделкам.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8">
                <h3>Максимов Евгений Юрьевич</h3>
                <ul>
                    <li>Корпоративное право</li>
                    <ul>
                        <li>представление интересов юридических лиц в суде по корпоративным делам</li>
                        <li>сохранение прав в сфере корпоративных отношений</li>
                        <li>реорганизация юридических лиц различных форм собственности (слияние,
                            разделение, присоединение)
                        </li>
                        <li>разработка и анализ учредительных документов юридических лиц (уставы,
                            положения, регламенты)
                        </li>
                    </ul>
                    <li>Арбитражное право</li>
                    <ul>
                        <li>арбитражные споры в области недвижимости, ценных бумаг</li>
                        <li>споры в области страхования</li>
                        <li>оспаривание сделок</li>
                        <li>взыскания денежных сумм</li>
                    </ul>
                    <li>Уголовное право</li>
                    <ul>
                        <li>представление интересов, защита в уголовном процессе лиц, привлекаемых
                            к уголовной ответственности
                        </li>
                        <li>представление интересов потерпевших на всех стадиях уголовного
                            процесса
                        </li>
                    </ul>
                    <li>Управляющий партнер Адвокатского бюро</li>
                    <li>Практического опыта работы более 20 лет. В его активе
                        координация и личное участие более чем в 1000 дел в
                        арбитражных судах
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/3.jpg' %}">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/4.jpg' %}">
            </div>
            <div class="col-lg-8">
                <h3>Пидиксеева Олеся Вячеславовна</h3>
                <ul>
                    <li>Юрист IT/IP</li>
                    <li>консультации для участников Сколково и аккредитованных IT компаний</li>
                    <li>аудит интеллектуальной собственности и формирование IP портфеля компании</li>
                    <li>разработка и правовая экспертиза договоров, сопровождение сделок
                    </li>
                    <li>регистрация объектов интеллектуальной собственности (программы ЭВМ, базы данных, товарные знаки,
                        изобретения, полезные модели, промышленные образцы)
                    </li>
                    <li>правовая обвязка бизнеса и проектов</li>
                    <li>риск менеджмент</li>
                    <li>13 лет опыта</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8">
                <h3>Алексеева Олесия Викторовна</h3>
                <ul>
                    <li>Руководитель медицинской практики</li>
                    <ul>
                        <li>Юридическое сопровождение медицинского бизнеса
                        </li>
                        <li>Юридическое сопровождение биотехнологий, генно-инженерной деятельности в сельском хозяйстве
                        </li>
                    </ul>
                    <li>Детальное проектирование концептуально крепких сделок</li>
                    <li>Превентивное снижение рисков личной ответственности собственников бизнеса</li>
                    <li>Повышение продаж за счёт внедрения инновационных онлайн-контрактов, регламентов и дорожных карт
                        для сотрудников
                    </li>
                    <li>Разработка понятных документов, эффективно регулирующих действия сторон</li>
                    <li>Обеспечение доверителя возможностью в онлайн режиме отслеживать создание юридического продукта
                    </li>
                    <li>Исскусное владение словом на базе навыков эффективного применения законодательства</li>
                    <li>Командный опыт</li>
                    <ul>
                        <li>более 1500 часов в судебных заседаниях</li>
                        <li>взыскано более 700 миллионов рублей</li>
                        <li>сохранено более 300 миллионов</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/5.jpg' %}">
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/6.jpg' %}">
            </div>
            <div class="col-lg-8">
                <h3>Бигвава Наталья Анатольевна</h3>
                <ul>
                    <li>Юрист, медиатор</li>
                    <li>Наследственное право</li>
                    <ul>
                        <li> высокая экспертиза и профессиональный уровень
                            наследственного планирования при распределении различных форм активов
                            наследодателя
                        </li>
                        <li>психологическая помощь в урегулировании конфликтов внутри
                            семьи
                        </li>
                        <li>оспаривание наследственных прав, завещаний, наследственных договоров</li>
                        <li>фактическое принятие наследства, в случаях многолетнего пропуска срока
                            вступления в права наследования
                        </li>
                    </ul>
                    <li>Семейное право</li>
                    <ul>
                        <li>бесконфликтное прекращение брака</li>
                        <li>стратегический подход при разделе общего имущества супругов</li>
                        <li>бережное решение вопросов, связанных с детьми и детско-родительскими отношениями</li>
                        <li>заключение брачных договоров на выгодных для доверителей условиях</li>
                    </ul>

                    <li>Спикер многочисленных конференций в своей экспертной специализации</li>
                    <li>Более 100 бесконфликтных разводов, в следствии которых доверители сумели сохранить
                        цивилизованные отношения
                    </li>
                    <li>Практика более 16 лет</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8">
                <h3>Цалкина Екатерина Александровна</h3>
                <ul>
                    <li>Юрист, IT, IP практики</li>
                    <li>право интеллектуальной собственности</li>
                    <li>юридическое сопровождение международных сделок</li>
                    <li>сопровождение IT-компаний</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/7.jpg' %}">
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-lg-4">
                <img class="rounded w-100" src="{% static 'homeapp/img/team/8.jpg' %}">
            </div>
            <div class="col-lg-8">
                <h3>Максимова Ирина Валерьевна</h3>
                <ul>
                    <li>Адвокат, практика семейное право, договорное право, наследственное право</li>
                    <li>Семейные споры</li>
                    <ul>
                        <li>раздел имущества</li>
                        <li>вопросы связанные с воспитанием и проживанием детей</li>
                        <li>лишение родительских прав</li>
                        <li>взыскание и расчет алиментов</li>
                        <li>оспаривание отцовства</li>
                        <li>иные споры в сфере семейного права</li>
                    </ul>
                    <li>Жилищное право</li>
                    <ul>
                        <li>выселение</li>
                        <li>снятие с регистрационного учета</li>
                        <li>определение порядка пользования жилым помещением</li>
                        <li>определение порядка пользования и выдел долей в натуре</li>
                    </ul>
                    <li>Наследственные споры</li>
                    <ul>
                        <li>требования о признании недействительным завещания</li>
                        <li>об установлении юридических фактов</li>
                        <li>о признании гражданина недостойным наследником</li>
                        <li>раздел наследства</li>
                    </ul>
                    <li>Инициатор политически-правовых нововведений, рассматриваемых Государственной Думой РФ</li>
                    <li>Магистр психологии</li>
                    <li>Практика работы более 14 лет</li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
