{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}


     <div class="container">
    <h1>Защита при уголовном преследовании</h1>
        <div class="row  pt-4  justify-content-between">
            <p class="text-center">Вы можете скачать памятки:</p>
            <div class="col-4 justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_1' %}">
                    <div class="card" >
                    <img  src="{% static 'homeapp/img/practices/1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">памятка подозреваемого, обвиняемого, свидетеля</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-4 justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_2' %}">
                    <div class="card">
                    <img  src="{% static 'homeapp/img/practices/2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">памятка обыск</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-4 justify-content-between">
                <a class="text-decoration-none" href="{% url 'homeapp:case_3' %}">
                    <div class="card" >
                    <img  src="{% static 'homeapp/img/practices/3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center h4 ">Памятка при оперативно розыскных мероприятиях</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
     </div>


    <div class="container">
    <div class="row justify-content-between">
        <div class="col-3"><a href="#" class="btn btn-dark">памятка подозреваемого, обвиняемого, свидетеля</a></div>
        <div class="col-3"><a href="#" class="btn btn-dark">памятка обыск</a></div>
        <div class="col-3"><a href="#" class="btn btn-dark">Памятка при оперативно розыскных мероприятиях</a></div>
    </div>
    </div>


{% endblock %}
