{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1">ПОЛНОМОЧИЯ АДВОКАТА</h1>
        <p class="text-center fw-bold">В соответствии с Федеральным законом «Об адвокатской деятельности и адвокатуре в
            Российской Федерации», оказывая юридическую помощь, адвокат:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item m-2">дает консультации и справки по правовым вопросам как в устной, так и в письменной форме</li>
            <li class="list-group-item m-2">составляет заявления, жалобы, ходатайства и другие документы правового характера</li>
            <li class="list-group-item m-2">представляет интересы доверителя в конституционном судопроизводстве</li>
            <li class="list-group-item m-2">участвует в качестве представителя доверителя в гражданском и административном судопроизводстве</li>
            <li class="list-group-item m-2">участвует в качестве представителя или защитника доверителя в уголовном судопроизводстве и производстве по делам об административных правонарушениях</li>
            <li class="list-group-item m-2">участвует в качестве представителя доверителя в разбирательстве дел в третейском суде, международном коммерческом арбитраже (суде) и иных органах разрешения конфликтов</li>
            <li class="list-group-item m-2">представляет интересы доверителя в органах государственной власти, органах местного самоуправления, общественных объединениях и иных организациях</li>
            <li class="list-group-item m-2">представляет интересы доверителя в органах государственной власти, судах и правоохранительных органах иностранных государств, международных судебных органах, негосударственных органах иностранных государств, если иное не установлено законодательством иностранных государств, уставными документами международных судебных органов и иных международных организаций или международными договорами Российской Федерации</li>
            <li class="list-group-item m-2">участвует в качестве представителя доверителя в исполнительном производстве, а также при исполнении уголовного наказания</li>
            <li class="list-group-item m-2">выступает в качестве представителя доверителя в налоговых правоотношениях</li>
        </ul>
        <p class="text-center fw-bold m-3">Адвокат вправе:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item m-2">собирать сведения, необходимые для оказания юридической помощи, в том числе запрашивать справки, характеристики и иные документы от органов государственной власти, органов местного самоуправления, а также общественных объединений и иных организаций. Указанные органы и организации в порядке, установленном законодательством, обязаны выдать адвокату запрошенные им документы или их заверенные копии не позднее чем в месячный срок со дня получения запроса адвоката</li>
            <li class="list-group-item m-2">опрашивать с их согласия лиц, предположительно владеющих информацией, относящейся к делу, по которому адвокат оказывает юридическую помощь</li>
            <li class="list-group-item m-2">собирать и представлять предметы и документы, которые могут быть признаны вещественными и иными доказательствами, в порядке, установленном законодательством Российской Федерации</li>
            <li class="list-group-item m-2">привлекать на договорной основе специалистов для разъяснения вопросов, связанных с оказанием юридической помощи</li>
            <li class="list-group-item m-2">беспрепятственно встречаться со своим доверителем наедине, в условиях, обеспечивающих конфиденциальность (в том числе в период его содержания под стражей), без ограничения числа свиданий и их продолжительности</li>
            <li class="list-group-item m-2">фиксировать (в том числе с помощью технических средств) информацию, содержащуюся в материалах дела, по которому адвокат оказывает юридическую помощь, соблюдая при этом государственную и иную охраняемую законом тайну</li>
            <li class="list-group-item m-2">совершать иные действия, не противоречащие законодательству Российской Федерации</li>
        </ul>


    </div>


{% endblock %}
