{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1">КАК МЫ РАБОТАЕМ</h1>
        <p class="text-center fw-bold">Вы можете позвонить нам по имеющимся телефонам, и у нас всегда будет время организовать с
            вами встречу и
            обсудить ваши задачи. Также вы можете связаться с нами посредством других средств связи – факс, электронная
            или обычная почта.</p>
        <p>Прежде всего, нам нужно понимать стоящие перед вами цели и задачи, а также результат, которого вы хотите
            достигнуть. Практически всегда для этого требуется встреча и ознакомление с документами, которые нам
            необходимы для определения наших возможностей и условий работы.
            В результате обсуждения ваших задач, анализа предоставленных нам документов и информации мы готовим
            коммерческое предложение в устном или письменном виде и передаем его вам для изучения и принятия решения.
            После обсуждения коммерческого предложения и проведения переговоров мы готовим техническое задание и проект
            соглашения (договора) на оказание правовой помощи. После заключения договора мы приступаем к работе.
            Для постоянных доверителей мы приступаем к работе сразу после устного согласования технического задания и
            цены услуг. В особо срочных, не терпящих отлагательства случаях мы, основываясь на наших взаимоотношениях с
            доверителем, можем начать работу немедленно (сразу после первой же встречи) с последующим оформлением
            договора и других необходимых документов.</p>


    </div>


{% endblock %}
