{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1">СОГЛАШЕНИЕ И ОРДЕР</h1>
        <p class="text-center fw-bold">В соответствии со ст. 25 Федерального закона «Об адвокатской деятельности и
            адвокатуре в Российской Федерации» адвокатская деятельность осуществляется на основе соглашения между
            адвокатом и доверителем.</p>
        <p>Соглашение представляет собой гражданско-правовой договор, заключаемый в простой письменной форме между
            доверителем и адвокатом (адвокатами), на оказание юридической помощи самому доверителю или назначенному им
            лицу.</p>
        <p class="fw-bold">Существенными условиями соглашения являются:</p>
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item m-2">указание на адвоката (адвокатов), принявшего (принявших) исполнение
                поручения в качестве поверенного (поверенных), а также на его (их) принадлежность к адвокатскому
                образованию и адвокатской палате
            </li>
            <li class="list-group-item m-2">предмет поручения</li>
            <li class="list-group-item m-2">условия выплаты доверителем вознаграждения за оказываемую юридическую
                помощь
            </li>
            <li class="list-group-item m-2">порядок и размер компенсации расходов адвоката (адвокатов), связанных с
                исполнением поручения
            </li>
            <li class="list-group-item m-2">размер и характер ответственности адвоката (адвокатов), принявшего
                (принявших) исполнение поручения
            </li>
        </ul>
        <p>Право адвоката на вознаграждение и компенсацию расходов, связанных с исполнением поручения, не может быть
            переуступлено третьим лицам без специального согласия на то доверителя.</p>
        <p>Вознаграждение, выплачиваемое адвокату доверителем, и (или) компенсация адвокату расходов, связанных с
            исполнением поручения, подлежат обязательному внесению в кассу соответствующего адвокатского образования
            либо перечислению на расчетный счет адвокатского образования в порядке и сроки, которые предусмотрены
            соглашением.</p>
        <p>В силу ст. 6 Федерального закона «Об адвокатской деятельности и адвокатуре в Российской Федерации» в случаях,
            предусмотренных федеральным законом, адвокат должен иметь ордер на исполнение поручения, выдаваемый
            соответствующим адвокатским образованием. Форма ордера утверждается федеральным органом юстиции. В иных
            случаях адвокат представляет доверителя на основании доверенности. Никто не вправе требовать от адвоката и
            его доверителя предъявления соглашения об оказании юридической помощи для вступления адвоката в дело.</p>


    </div>


{% endblock %}
