{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1">АДВОКАТСКАЯ ТАЙНА</h1>
        <p class="text-center fw-bold">Согласно ст. 6 Кодекса профессиональной этики адвоката доверия к адвокату не
            может быть без уверенности в сохранении профессиональной тайны. Профессиональная тайна адвоката обеспечивает
            иммунитет доверителя, предоставленный последнему Конституцией Российской Федерации.</p>
        <p>Cоблюдение профессиональной тайны является безусловным приоритетом деятельности адвоката. Срок хранения тайны
            не ограничен во времени. Адвокат не
            может быть освобожден от обязанности хранить профессиональную тайну никем, кроме доверителя.
            Без согласия доверителя адвокат вправе использовать сообщенные ему доверителем сведения в объеме, который
            адвокат считает разумно необходимым для обоснования своей позиции при рассмотрении гражданского спора между
            ним и доверителем или для своей защиты по возбужденному против него дисциплинарному производству или
            уголовному делу.
            Адвокат не вправе давать свидетельские показания об обстоятельствах, которые стали ему известны в связи с
            исполнением профессиональных обязанностей.</p>
        <p>Адвокат не может уступить кому бы то ни было право денежного требования к доверителю по заключенному между
            ними соглашению.
            Адвокаты, осуществляющие профессиональную деятельность совместно на основании партнерского договора, при
            оказании юридической помощи должны руководствоваться правилом о распространении тайны на всех партнеров.
            В целях сохранения профессиональной тайны адвокат должен вести делопроизводство отдельно от материалов и
            документов, принадлежащих доверителю. Материалы, входящие в состав адвокатского производства по делу, а
            также переписка адвоката с доверителем должны быть ясным и недвусмысленным образом обозначены как
            принадлежащие адвокату или исходящие от него.
            Правила сохранения профессиональной тайны распространяются на помощников и стажеров адвоката, а также иных
            сотрудников адвокатских образований.</p>
        <p class="fw-bold">Правила сохранения профессиональной тайны распространяются на:</p>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item m-2">факт обращения к адвокату, включая имена и названия доверителей</li>
                    <li class="list-group-item m-2">все доказательства и документы, собранные адвокатом в ходе подготовки к делу</li>
                    <li class="list-group-item m-2">сведения, полученные адвокатом от доверителей</li>
                    <li class="list-group-item m-2">информацию о доверителе, ставшую известной адвокату в процессе оказания юридической помощи</li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item m-2">содержание правовых советов, данных непосредственно доверителю или ему предназначенных</li>
                    <li class="list-group-item m-2">все адвокатское производство по делу</li>
                    <li class="list-group-item m-2">условия соглашения об оказании юридической помощи, включая денежные расчеты между адвокатом и доверителем</li>
                    <li class="list-group-item m-2">любые другие сведения, связанные с оказанием адвокатом юридической помощи</li>
                </ul>
            </div>
        </div>


    </div>


{% endblock %}
