{% extends 'homeapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container">

        <h1 class="text-center h1">ВАРИАНТЫ ВОЗНАГРАЖДЕНИЯ</h1>
        <p class="text-center fw-bold">Размер и порядок выплаты вознаграждения за оказываемую юридическую помощь
            определяются в каждом конкретном случае и зависят от объема и сложности работы, времени, необходимого для
            оказания услуг, степени их срочности и других обстоятельств.</p>
        <p>Существуют некоторые схемы выплаты вознаграждения, традиционно сложившиеся на западном и российском рынках
            юридических услуг, применяемые также и Московской коллегией адвокатов «Партнер групп».</p>
        <p class="fw-bold">1. Повременной (как правило, почасовой) принцип оплаты услуг.</p>
        <p>При таком принципе оплаты оказываемых услуг адвокаты и юристы МКА «Партнер групп» фиксируют обращения
            доверителя, предмет и дату обращения, а также время, потраченное на выполнение работы. В зависимости от
            указанного времени определяется сумма вознаграждения исходя из заранее согласованной с доверителем ставки.
            Размеры ставок адвоката и юриста МКА «Партнер групп» составляют от 6000 рублей в час.</p>
        <p class="fw-bold">2. Полный или частичный абонемент.</p>
        <p>Полный абонемент означает оказание МКА «Партнер групп» юридических услуг по любым правовым вопросам
            деятельности доверителя на срок, установленный соглашением сторон.
            Частичный абонемент означает оказание МКА «Партнер групп» юридических услуг по одной или нескольким
            категориям правовых вопросов деятельности доверителя (например, определенный проект, спорные взаимоотношения
            доверителя с другим хозяйствующим субъектом) на срок, необходимый для решения поставленных доверителем
            задач, либо на иной срок, установленный соглашением сторон.
            Размер вознаграждения и порядок его уплаты определяются в каждом конкретном случае.</p>
        <p class="fw-bold">3. Оплата за конкретную услугу.</p>
        <p>Стороны предварительно договариваются о стоимости конкретной услуги (например, сопровождение определенной
            сделки, проверка юридической чистоты сделки) и по окончании работы (либо с полной или частичной предоплатой)
            производится расчет. Размер вознаграждения и порядок его уплаты определяются в каждом конкретном случае.</p>
        <p class="fw-bold">4. Оплата по результату.</p>
        <p>При наличии у доверителя имущественного спора, по которому вознаграждение может определяться пропорционально
            к цене иска в случае успешного завершения дела, выплата вознаграждения может ставиться в зависимость от
            результата дела. Размер вознаграждения и порядок его уплаты определяются в каждом конкретном случае.</p>

    </div>


{% endblock %}
